.productItemHeader{
   padding-bottom: 20px;
    &__title{
        padding:0;
        margin: 0;
        line-height: 1;
    }
    &__itemCount{
        line-height: 2;
        text-align: right;
        color:#999;
        .device-sm({text-align:initial;});
        .device-xs({text-align:initial;});
    }
}
