.menu-top{
    background-color: #c1cfd9;
    font-size: 14px;
    // font-family: OpenSans-Regular;

    &__regions{
        padding:6px 0;
                
        a{
            color:@color-main;
            .ifRtl({padding-left: 20px;}, {padding-right: 20px;}); 
            //padding-right: 20px;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
        .fa-star{
            color:#FFE60F;
        }
    }

    &__authcontainer{
        padding:6px 0;
        float:right;
        .device-xs({float:none;});
    }
    
    &__login, &__regin, &__loggedIn, &__money{
        display: inline-block;
       
        a{
            color:@color-main;
            //text-decoration: underline;
        }
    }
    &__loggedIn{ 
        a{text-decoration: none;}
    }
    
    &__login{
        padding-right: 20px;        
    }
    //ul menu
    &__money{
        padding-left: 20px;
        &-units{
            color: green;
            font-weight: bold;
        }
    }
    &__loggedIn{
         &:hover{
            .menu-top__loggedIn-ul{
                opacity: 1;
                visibility: visible;
            }
        }
        position: relative;
        &-ul{
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s ease-in-out;
            position: absolute;
            top: 100%;
            left: 0px;
            background-color: #9EB2C0;
            min-width: 180px;
            .ifRtl({padding-right: 15px;}, {padding-left: 15px;}); 
            //padding-left: 15px;
            padding-bottom: 15px;
            z-index: 1;
            &.active{
                display: block;
            }
        }
        &-item{
            //margin:5px 20px 5px 20px;
            margin-top:10px;
            a{
                color:@color-main;
                &:hover{
                    color:white;
                }
            }
            img{
                @scale:0%;
                    filter: grayscale(@scale);
                -ms-filter: grayscale(@scale);
                -moz-filter: grayscale(@scale);  
                -o-filter: grayscale(@scale);
                -webkit-filter: grayscale(@scale);
            }
            
        }
        &-angleDawn{
            padding-top: 5px;
            margin-left: 56%;
            width: 20px;
            border-top: solid 10px #C1CFD9;
            border-left: solid 10px transparent;
            border-right: solid 10px transparent;
            background-color: transparent;
        }
    }    
    
    
    //ul menu end


}
