.service-block{
    
   position: relative;
   padding: 25px 0px;
   .device-sm({min-height: 272px;});
   &__wrapper{
       padding-left: 35px;
   } 
   &__msg{
       font-size: 15px;
       font-weight: bold;
       padding-bottom: 10px;
   }
   &__icon{
       position: absolute;
       font-size: 25px;
       color: @color-gray;
   }
   
   &__desc{
      //font-size: 15px;
   }

   &__btn, &__price{
       display: inline-block;
       width:48.99999%;
   }
   &__price{
       text-align: right;
       color:@color-primary;
       font-weight: bold;
       font-size: 20px;
   }
   

   &__colors-item{
       display: inline-block;
       text-align: center;
       label{
           width:35px;
            height: 25px;
            // border:1px solid;
            display: block;
            cursor: pointer;
       }
       input:not(old){
           opacity: 0;
       }
       .red{ background-color: #ffdbdb; &.active{.active-color;}}
       .green{ background-color: #dbf8de; &.active{.active-color;}}
       .blue{ background-color: #dbeeff; &.active{.active-color;}}
       .yellow{ background-color: #ffffd4; &.active{.active-color;}} 
   }
   .active-color(){
       border:2px solid @color-primary; 
   } 
  
   
   border-bottom: 1px solid #eee;
}