.news-item{
    
    margin-top:15px;
    margin-bottom: 15px;
    
    &__body{
        // overflow: hidden;
        // height: 80px;
        border-bottom: 1px solid #eee;
    }
    &__text{
        color: black;
        // color:@color-primary;
    }
    &__description{
        font-size: 13px;
        font-family: 'PT Serif', serif;
    }
    &__date{
        color: #6c757d;
    }
}