.ctrLinksList{
        padding-top: 10px;
    
    &__letter{
        position: absolute;
        left: 0px;
        color: #999;
        font-weight: bold;
    }

    &__ul{
        list-style: none;
        margin-left: 20px;
    }
    &__link{ 
        font-size: @ctrLinksList__link-font-size;
        padding: 5px 2px;
        margin: 1px 0px 1px 0px;
        color: #2e3641; // #4fc1e9;
        text-decoration: underline;
        text-transform: capitalize;
        &:hover, &:active, &:focus{
            color: darken(#4fc1e9, 15%);
        }
        &.active{
            background-color: #2e3641;
            color: white;
            text-decoration: none;
        }
    }
}