.ctrValueFromTo{
    //padding-top: 15px; //45px;
    //padding-bottom:15px; //22px;
    //padding-left: 10%;
    .device-xs({ padding: 10px 0 20px 0;});
    
    &--default{
        padding:0;
        margin:0;
    }
    
    &__title{
        padding-bottom: 10px;
        font-weight: bold;
        color: #2e3641;
        // text-transform: uppercase;
    }
    &__item-from, &__item-to, &__item-input {
        text-transform: lowercase;
        display: inline-block;
    }
    &__item-input{
        border: none;
        height: 30px;
        padding-left: 10px;
        width: 35.3%;
        margin-left: 5px;
        margin-right: 5px;
        .device-xs({width:100%;});
    }
    &__item-from{
        text-transform: capitalize;
        width:10%;
        margin-top:2.5%;
        font-weight: bold; 
    }
    &__item-to{
        text-transform: capitalize;
        width:10%;
        margin-top:2.5%;
        // margin-left: 2.5%;
        font-weight: bold; 
        .device-xs({margin:0;});
    }
   

}