.searchFilterAdv{
    background-color: #d5e2e9;
    padding-top:20px;
    padding-bottom: 20px;
    
    &__item{
        // padding: 19px;
        height: 95px;
        transition: 0.5s;
        .device-md({height:80px});
        .device-sm({height:75px});
        .device-xs({height:initial;});
    } 
    
    &__border{
       border-left: 1px solid #B5CCD7;
       border-right: 1px solid #B5CCD7; 
    }
}