.ctrLinks--unit-comment{

    margin-bottom: 40px;

    &__container{
        &.active{
            background-color: #F3FFFF;
        }
    }

    &__title{
      text-transform: uppercase;
      font-weight: bold;
      color:#2e3641;
      display: inline-block;
      //padding-top:5px;
    }

    &__desc{
        //margin-top:20px;
        display: block;
        color: #527691; //#9eb2c0;
        background-color:transparent;
    }
}