.ctrLinks{
    
    .ctrLinksGeneralSyle(){
        display: inline-block;
        color:#2e3641; // #4fc1e9;
        padding: 0px 2px 0px 2px;
        margin: 1px 0px 1px 0px;
        text-decoration: underline;
    } 
    
    &__ul-container{
        &.active{
            background-color: #FFF; //#F3FFFF
        }
    }
    &__more-container{
        margin-top: 10px;
    }
    
    &__ul{
        list-style: none;
        margin: 0 0 0 -3px;
        padding: 0;
    }
    
    &__title{
      font-weight: bold;
      color:#2e3641;
      display: inline-block;
    } 
    
    &__item, &__item a{
        font-size: @ctrLinksList__link-font-size;
        text-transform: capitalize;
        &.active, &.active a{
            background-color:  #2e3641; //#6B819E
            color:white;
            text-decoration: none;
        }
        .ctrLinksGeneralSyle;
    }
   
    &__more-title{
        .ctrLinksGeneralSyle;
    }
}