.ctrLinks--unit{

    margin-bottom: 35px;

    .ctrLinksGeneralSyle(){
        display: inline-block;
        color:#4fc1e9;
        padding: 2px 6px;
        // margin: 1px 1px;
    }

    &__ul-container{
        &.active{
            background-color: #F3FFFF;
        }
    }

    &__ul{
        list-style: none;
        margin: 0 0 0 -10px;
        padding: 0;
    }

    &__title{
      text-transform: uppercase;
      font-weight: bold;
      color:#2e3641;
      display: inline-block;
      vertical-align: middle;
    }

    &__item, &__item a{
        text-transform: lowercase;

        &.active, &.active a{
            background-color:  #2e3641; //#6B819E
            text-decoration: none;
            color:white;
            & .color{
                border:2px solid;
            }
        }
        &:hover{
            cursor: pointer;
        }
        .ctrLinksGeneralSyle;
    }
    &__item a{
        text-decoration: underline;
    }


    &__more-title{
        .ctrLinksGeneralSyle;
        text-decoration: underline;
    }
}