.subcateg{

    &__categItem{
        padding: 10px 0;
    }
    &__header{
        // height: 55px;
        background-color: #2e3641;
        
        &-title{
            color:#e9f0f4;
            // font-family: OpenSans-Semibold;
            // font-size: 16pt;
            padding: 1em;
        }
        &-arrawDown{
            border: 15px solid transparent;	
            border-top: 15px solid #2e3641;
            width: 10px;
            float: right; 
            margin-right: 2%;
        }
    }
   
     
}