.ad-list{
    a{
        display: block;
        padding: 9px;
        margin: 5px 0;
        border-color: #c1cfd9;
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
        color: #000000;//#4fc1e9;
        font-size: 12px;
        .device-xs({font-size: @font-size-xs;});
        text-transform: uppercase;
        &:hover{
            color: #337ab7;
        }
    }
}