.login{

    // background-repeat: no-repeat;
    // background-position: center top;
    // -webkit-background-size: cover;
    // background-size: cover;
    // background-attachment: fixed;
    
    form{
        background-color: #2e3641; // rgba(46, 54, 65, 0.76);
        padding: 15px;
    }

    &__container{
       margin: 2% 0;
    }
    &__title{
        text-align: center;
        color:white;
        margin:25px 0;
        // font-size: 25px;
        a{
            color:white;
            text-decoration: underline;
        }
    }
    
    &__control-container{
        margin: 0 auto;
    }
    
    &__control, &__control-area{
        display: block;
        margin: 0 auto;
        width: 60%;
        .device-xs({width:90%});
        color: white;
        padding-left: 10px;
        border: 2px solid #A4C9DA;
        background-color: rgba(131, 170, 187, .5);;
        border-radius: 5px;
        &::-webkit-input-placeholder {color:white; font-size: 14px;}
        &::-moz-placeholder          {color:white; font-size: 14px;}/* Firefox 19+ */
        &:-moz-placeholder           {color:white; font-size: 14px;}/* Firefox 18- */
        &:-ms-input-placeholder  {color:white; font-size: 14px;}
    }

    &__control{
        height: 45px;
    }
}