.b-btn{
    
    // display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    // font-size: 14px;
    font-weight: 400;
    
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color .3s ease-in-out;
    
    &--gray {
        transition: background-color .3s ease-in-out;
        cursor: default;
    }

    &--gray:hover{
        background-color: darken(@color-gray, 15%);
    }
    
    &--blue, &--red, &--orange, &--green, &--blue-spread, &--gray-spread{
        //font-family: Trebuchet-Bold;
        .device-xs({font-size: @font-size-xs-inlg;});
        // text-transform: uppercase;
        // font-size: 12pt;
        padding:11px 22px;
        background-color:  @color-primary;
        color: #2e3641;
        display: block;
        text-decoration: none;
        &.disabled, &.disabled:hover, &.disabled:focus, &.disabled:active{
            color: #777;
            cursor: not-allowed;
            background-color: #eee;
        }
        &:hover, &:focus{
            text-decoration: none;
            background-color: darken( @color-primary, 15%);
            color:white; 
        } 
        &:active{
            background-color: darken( @color-primary, 10%);
        }
        
    }
    &--center{
      margin: 0 auto;  
    }
    &--red{ 
        background-color: #e06e7c;
        &:hover{
          background-color: darken(#e06e7c, 25%);  
        }
    }
    &--orange{ 
       background-color: #e95d47; 
       &:hover{
          background-color: darken(#e95d47, 25%);  
        }
    }
    &--green{
       background-color: #5cb85c; 
       &:hover{
          background-color: darken(#5cb85c, 25%);  
        }
    }
    &--blue-spread{
        width:100%;
    }
    &--gray-spread{
        background-color: @color-gray;
        width:100%;
        color:white;
        &:hover{
            background-color: lightgray;
            color:black;
        }
    }
    &--comment{
        width:initial;
        float:right;
        margin-left: 15px;
    }

}