.transition(@time: 0.5s){
    transition:@time;
    -webkit-transition: @time;
    -o-transition: @time;
    -moz-transition: @time;
    -ms-transition: @time;
}

.insrease(@y:1.50, @x:1.50){
    
    -webkit-transform: scale(@y,@x);
    -moz-transform: scale(@y,@x);
    -ms-transform: scale(@y,@x);
    -o-transform: scale(@y,@x);
    transform: scale(@y,@x);
}

.dsh(){
   // border: 1px dashed;
}

@-webkit-keyframes pop-in {
    0% { opacity: 0; -webkit-transform: scale(0.5); }
    100% { opacity: 1; -webkit-transform: scale(1); }
}
@-moz-keyframes pop-in {
    0% { opacity: 0; -moz-transform: scale(0.5); }
    100% { opacity: 1; -moz-transform: scale(1); }
}
@keyframes pop-in {
    0% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
}