.device-xs(@rules) {@media (max-width: @screen-xs-max) {@rules();}}
.device-sm(@rules) {@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {@rules();}}
.device-md(@rules) {@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { @rules();}}
.device-lg(@rules) {@media (min-width: @screen-lg-min) {@rules();}}

.ifRtl(@rulesRtl, @rulesLtr) when (@isRtl = true){
    //if true then draw rtl section
    @rulesLtr(); 
}

.ifRtl(@rulesRtl, @rulesLtr) when (@isRtl = false){
    //if false then draw rtl section
    @rulesRtl(); 
}  

//usage .ifRtl({color:red;}, {color:black;});   

@color-main:#2e3641;
@color-blue:#699eb9;
@color-primary:#ffcc01; //#4FC1E9 #699eb9  #44809e
@color-gray:#8f9399;
@color-grey:#8f9399;
@color-green:#8BCA1A;
@color-orange:#ff4100;
@color-for-links:#4fc1e9;

@font-size-xs:18px;
@font-size-xs-inlg:25px;

@ctrLinksList__link-font-size:14px;

//#699eb9  #4fc1e9 
  
.paddingLeftAndRight(@val){ 
    padding-left:@val; 
    padding-right: @val;
}