 //@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic");
// @font-face {
//      font-family: "Merriweather";
//      src: url(font/Merriweather/Merriweather-Regular.ttf) format("truetype");   
// }

// @font-face {
//      font-family: "OpenSans-Bold";
//      src: url(../Content/font/OpenSans-Regular.ttf) format("truetype");   
// }


// @font-face {
//     font-family: "OpenSans-Regular";
//     src: url(../Content/font/OpenSans-Regular.ttf) format("truetype");  
// }
 
 
// @font-face {
//     font-family: "OpenSans-Semibold"; 
//     src: url(../Content/font/OpenSans-Semibold.ttf) format("truetype"); 
// }

// @font-face {
//     font-family: "Trebuchet-Bold";
//     src: url(../Content/font/Trebuchet-Bold.ttf) format("truetype");
// } 