html{
    font-size: initial;
}
body{
    color: #2e3641;
    font-family: 'Merriweather';
    font-size: initial;
    font-weight: 300;
    line-height: 1.75em;
    color:#353535;
}

.borders(){
    border:1px solid red;
}

select[disabled],
select[disabled="disabled"],
input[disabled],
input[disabled="disabled"]{
    cursor: no-drop !important;
} 

.text-white{
    color:white;
}

.text-red{
    color: #ff3838;
}

ul, h1, h2, h3, h4, h5, p{
    margin: 0;
    padding:0;
    list-style: none;
}

mark{
   color:darken(@color-gray, 25%);
}

a.activeLink{
    font-weight: bold;
}

.more{
    cursor: pointer;
}

input[type="text"] {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0) inset;
    transition: box-shadow .3s ease-in-out;
}

input[type="text"]:focus {
    outline: 0 none;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2) inset;
}


.carousel-inner>.item>a>img, 
.carousel-inner>.item>img, 
.img-responsive, 
.thumbnail a>img, 
.thumbnail>img,
.hot__item img {
    border-radius: 5px;
}