.findBtn{
    &--inSearchFilter{
        margin-left: 30px;
        text-decoration: none;
        display: initial;
        font-family: Trebuchet-Bold;
        text-transform: uppercase;
        padding: 9px 30px;
        font-size: 16px;

        .device-xs( {
             margin-left: 0;
             font-size: @font-size-xs-inlg;
         }
         );
         .device-sm( {
             margin-left: 0;
             font-size: @font-size-xs;
         }
         );
    }

    &--inSearchAdvFilter{
        width: 92%;
        margin-left:10px;
        .device-xs({margin:0;width:100%;margin-top:10px;});
    }

    &--inSearchFilterGray{
        padding: 8px 19px;
        font-size: 14pt;
    }
}