.comment{
  
  margin-top:15px;

  &__title{
      position: relative;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      border:1px solid @color-gray;
      border-bottom-width: 0;
      width:150px;
      text-align: center;
      line-height: 2;
  }
  &__stripBottom{
      height: 5px;
      background-color: @color-blue;
  }
  &__commentItem{
      border:1px solid  #D5D5D5;
      padding-right: 25px;
  }
}