.ui-sortable{
    
    
    &__container{
        overflow: hidden;
        //border:1px solid #d2d3d6;
    }
    &__item{
        position: relative;
        float:left;
        //width:16.666666666%;
        padding: 0 5px 5px 5px;
        // .device-md({width:20%;});
        // .device-sm({width:33.333333333%;});  
        // .device-xs({width:33.333333333%;});  
    }
    &__item:first-child{
        //position: relative;
        &:after{
            content: "Главная";
            position: absolute;
            bottom: 8%;
            left: 7%; 
            width: 86%;
            /* height: 35%; */
            background-color: rgba(105, 158, 185, .5);
            color: white;
            font-size: 18px;
            text-align: center;
            line-height: 2;
        }
    }
    
    &__footer{
        margin-top:15px;
        margin-bottom: 15px;
        overflow: hidden;
    }
    
    &__delete{
        position: absolute;
        right: 10px;
        top: 10px;
        display: block!important;
        color: white;
        //background: rgba(105,158,185,.5);
        /* background-color: white; */
        padding: 4px;
    }
}