.monetization-info{
    margin: 15px 0;
    &__item{
        //background-color:lighten(@color-primary, 40%);
        // overflow: hidden;
        // border-bottom: 1px solid #eee;
        // border-left: 1px solid #eee;
        // border-right: 1px solid #eee;
        // height: 100px;
    }
    
    &__item:first-of-type{
        //border-top: 1px solid #eee;
    } 
    
    &__item-title{
        padding:0;
        margin:0;
        padding-bottom: 10px;
        color:@color-primary;
    }
    
   &__body{
       padding:15px 0;
   }

   &__desc{
       //font-size: 15px;
   }
    
}