.ctrValue{
    
    &__title{
        padding-bottom: 10px;
        font-weight: bold;
        color: #2e3641;
        text-transform: uppercase;
    }
    &__item-title, &__item-input{
        display: inline-block;
    }
    &__item-title{
        text-transform: lowercase;
        width:35%;
        .device-xs({width: 20%;});
    }
    &__item-input, &__item-input--border{
        width: 62.5%;
        border: 1px solid #DFDFDF;
        height: 30px;
        padding-left:10px;
        .device-xs({width: 78.5%;});
    }
    
    &__asterics{
        color:red;
    }
   
}