.ctrValue--unit{


    margin-bottom: 25px;
    overflow: hidden;
    &__title{
        padding-bottom: 10px;
        font-weight: bold;
        color: #2e3641;
        text-transform: uppercase;
    }
    &__item-title, &__item-input{
        text-transform: uppercase;
        display: inline-block;
    }
    &__item-title{
        .device-xs({width: 100%;});
    }
    &__item-input, &__item-input--border{

        border: 1px solid #d5e2e9;
        height: 30px;
        max-width: 220px;
        padding-left:10px;
        // &:-moz-placeholder{padding-left:10px;}
        // &::-moz-placeholder{padding-left:10px;}
        // &:-ms-input-placeholder{padding-left:10px;}
        // &::-webkit-input-placeholder{padding-left:10px;}
        .device-xs({width: 100%;});
    }

    &__footer{
        overflow: hidden;
    }
}