.ctrValue--unit-spread{


    margin-bottom: 40px;
    &__title{
        padding-bottom: 10px;
        font-weight: bold;
        color: #2e3641;
        text-transform: uppercase;
    }
    &__item-title, &__item-input{
        display: inline-block;
    }
    &__item-title{
     margin-bottom: 10px;
    }
    &__item-input, &__item-input--border{
        width: 100%;
        border: 1px solid #DFDFDF;
        height: 30px;
        margin-top: 2px;
        margin-bottom: 10px;
        padding-left:10px;
        .device-xs({width: 78.5%;});
        // &:-moz-placeholder{padding-left:10px;}
        // &::-moz-placeholder{padding-left:10px;}
        // &:-ms-input-placeholder{padding-left:10px;}
        // &::-webkit-input-placeholder{padding-left:10px;}
    }

}


