.hot{
    &__wrapper{
        background-color: #e9f0f4;
        padding-top:10px;
        padding-bottom: 10px;
    }
    
    &__header{
        [class*="col-"]{
            padding: 0;
        }
        padding: 10px 0 10px 0;
    }
    
    //header-title     
    &__header-title{  
        color: #2e3641;
        font-weight: bold;
    }
    
    &__header-howgethot{
        font-size: 10pt;
        color:#8f9399;
        float:right;
        padding-top:10px;
        .device-sm({float:none;});
        .device-xs({float:none;});
    }

        
    &__footer{
        padding-top: 15px;
        padding-bottom: 10px;
        overflow: hidden;
        &-totalCount{
            color: #8f9399;
            text-align: right;
            padding-right: 20px;
            line-height: 3; 
            width:40.5%;
            .device-md({width:39%;});
            .device-sm({text-align:center;width:100%;padding:0;});;
            .device-xs({text-align:center;width:100%;padding:0;});  
        } 
        
        &-totalCount-today{
            color: #8f9399;
            text-align: left;
            padding-left: 20px;
            line-height: 3; 
            width:40.5%;
            .device-md({width:39%;});
            .device-sm({text-align:center;width:100%;padding:0;});
            .device-xs({text-align:center;width:100%;padding:0;});           
        }
        
        &-btn{
            .device-md({width:22%;});
            .device-sm({text-align:center;width:100%;padding:0;}); 
            .device-xs({text-align:center;width:100%;padding:0;});  
        }  
    }
  
    &__grid{
        &--noCenter{

        }
    }
    
    &__item img{
        width: 100%;
    }
    &__item, &__grid-item--width2{
        
        margin-top:5px;
        margin-bottom: 5px;
        text-align: center;
        color:white;
        font-size: 1.5em;        
    }
    &__grid-item{ 
        font-size: 12px;       
        width: 120px;
        height: 90px;
    }
    
    &__grid-item--width2{
        img{
            vertical-align: middle;
            display: inline-block;
            width: 100%;
            -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
            z-index: 10;

        }
    }  
    
    &__grid-item--width2 {
        width: 252px;
        min-height: 190px;
    }
    
    
    //Верхняя и нижняя часть надписей в горяче объявлении
    &__item-footer, &__item-header{
        display: none;
        min-height: 25px;
        font-size: 7px;
    }   
    
    &__item-name, &__item-city, &__item-imgCount{
            display: table-cell;
            vertical-align: middle;
            color: white;
            padding: 3px;
    }
    &__item-name, &__item-city{text-align: left;}
    &__item-imgCount{text-align: right;}
    
    
    &__item-price{ white-space: nowrap;}
    
    //items  
    &__item-increase:hover {
        z-index: 100;

        .insrease(2,2);
        .device-md({.insrease(1.7,1.7);});
        .transition(0.2s);
        box-shadow: 1px 1px 5px #000;

        & .hot__item-header, & .hot__item-footer{
            display: table;
            position: absolute;
            left: 0;
            width:100%;
            z-index: 100;
            background: rgba(0, 0, 0, 0.5);  
        }
        
        & .hot__item-footer{
            bottom:0; 
        }
    } 

}
