.n-menu{

    overflow: hidden;
    padding-top: 15px;
    &__logo-container{
        .ifRtl({width: 192px;}, {});
    }

    &__logo-container, &__top{
        float:left;
    }
    &__btn-add{
        .ifRtl({width:215px;}, {});
        .ifRtl({float:left;}, {float:right;});
    }
    &__btn-and-logo{
        .device-md({overflow: hidden;});
        .device-sm({overflow: hidden;});
    }

   &__top{
        position: relative;
        padding-top: 15px;
        width:750px;

        .device-md({float:none;width:100%;});
        .device-sm({float:none;width:100%;});
        .device-xs({width:100%;margin-bottom: 10px;});
    }
    &__count{
        float: right;
        margin-right: 40px;
        color:@color-gray;
    }


    &__top-ul{
        overflow: hidden;
        .device-md({ text-align: left;});
        .device-sm({ text-align: left;});
        .device-xs({ text-align: left;});
    }
    &__top-li{
        display: inline-block;
        a{
            color:@color-main;
            padding-right: 10px;
            // font-size: 12px;
            // text-transform: uppercase;
        }
        &-threeangle--up{
            padding-top: 10px;
            margin: 0 auto;
            width: 30px;
            border-bottom: solid 15px @color-main;
            border-left: solid 15px transparent;
            border-right: solid 15px transparent;
            background-color: #fff;
        }
    }
    &__top-li:last-child{
        a{
            padding-right: 0;
        }
    }

    .device-xs({
        &__top{
            padding-left: 0;
            &-li{
                padding-top:10px;
                display:list-item;
                a{
                    font-size: @font-size-xs-inlg;
                }
                &-threeangle--up{
                    display:none;
                }
            }
            &-li.active{
                    a{
                        color:@color-blue;
                    }
                }

        }

    });

    &__top-reorder{
       //font-size: 60px;
       display: none;
    }
}