.tab{
    
    &:after{
        clear:both;
        display: table;
        content: " ";
    }
    border-bottom: 1px solid #ddd;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    &__item{
        float: left;
        margin-bottom: -1px;
        position: relative;
        display: block;
        
    

    }
    
    &__item-link{
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
        position: relative;
        display: block;
        padding: 10px 15px;
        &.active{
            color: #555;
            cursor: default;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }
    }

}