.photo-add{
    
   //padding-left: 25px;
   &__title{
       padding-bottom: 20px;
       text-transform: uppercase;
   }  
   &__ul{
       overflow: hidden;
   } 
   &__item{
        width:33.333333%;
        float:left;
        padding-right: 10px;
        padding-bottom: 10px;
   }
   &__footer-title{
       padding-top:25px;
   }
   &__addBtn, &__addFileBtn{
       display: inline-block;
   } 
   
}