.map{
    //padding-right: 20px;
    padding-bottom: 20px;

&__loader{
   
    background-color: rgb(236, 240, 241);
    position: relative;
    z-index: -2;
    &:after{
        content: "";
        // background: url(../Content/imgs/loader/loader3.gif) no-repeat;
        display: block;
        height: 130px;
        width: 130px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
    }
}

}