.categItemListContainer{
    overflow: hidden;   
    padding: 10px 0;
    //width:50%;
    &__list-container{
        .dsh;
        float:left;
        width:33.3333333%;
    }

    &__list-item{
        //font-family: OpenSans-Semibold;
        line-height: 1.7em;
        display: block;
        color: #4fc1e9;
        &:hover{
            .transition;
            color:black;
            text-decoration: none;
            .categItemListContainer__list-item-count{
                .transition;
                color:black;
                font-weight: bold;
                //font-size: 14px;
            }
        }
         &-count{
            color: #8f9399;
            padding-left: 5px;
         }
    }


        
}

.device-xs({
    .categItemListContainer
    {
       float: none;
        &__list-container{
            width:100%;
            float: none;
        }  

        &__list-item{
            display: block;
            padding: 9px;
            /* background-color: #c1cfd9; */
            margin: 5px 0;
            border-color: #c1cfd9;
            border-width: 1px;
            border-style: solid;
            border-radius: 5px;
            color: #4fc1e9;
            font-size: 16px;
            text-transform: uppercase;
        }    
    } 
 });