.commentItem{

    margin: 15px 0 15px 25px;    

    &__author-name{
        color:@color-main;
        font-weight: bold;
        text-decoration: underline;
        position: relative;
    } 
    &__arrow{
        position: absolute;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaAQMAAACab373AAAABlBMVEXMzMz////TjRV2AAAAGElEQVR4XmP4////H2KIf/gJBnawOjIIAMk0ZU0CstrRAAAAAElFTkSuQmCC');/*checkbox_sprite2.png*/
        top: -5px;
        left: -30px;
        height: 16px;
        width: 21px;
    }
    &__for{
        color:#8BCA1A;
    }
    &__date{
        font-size: 12px;
        padding-left:15px;
        padding-right: 15px;
    }
    &__answer{
        color:@color-blue;
        text-decoration: underline;
        //.paddingLeftAndRight(5px);
    }
    &__complain{
        color: #a94442;
        text-decoration: underline;
    }
    &__text{
        margin-top:10px;
        margin-bottom: 10px;
        //font-size: 13px;
    }
    &__InternalComment{
        .transition;
        display: none;
        &.active{
            opacity: 1;
            display: initial;
        }
    }

}