.unit-header{


   &__title{
       text-transform: uppercase;
   } &__help{
       color:@color-gray;
       padding-top:20px;
       padding-bottom: 20px;
       display: block;
       a{
           text-decoration: underline;
           color:@color-blue;
       }
   }

   &__body{
       padding-bottom: 40px;
   }
   &__brand-model-title{
       text-transform: uppercase;
       padding-bottom: 20px;
       font-weight: bold;
       .device-sm({padding-top:20px;});
       .device-xs({padding-top:20px;});
   }
   &__brand, &__model{
    padding:10px;
    width: 45%;
    min-height: 230px;
    border:1px solid #d5e2e9;
   }
   &__model{
       margin-left: 50px;
   }
    &__brand option, &__model option{
        padding-top:5px;
        font-size: 15px;
    }

    & option:hover, option:focus, option:active, option:checked{
        background-color: #d5e2e9;
        cursor: pointer;
    }
}