.ctrTextarea{
    
    
    
    &__input{
        width: 100%;
        border: 1px solid #d5e2e9;
        resize: none;
    }
    &__title{
        font-weight: bold;
        padding-bottom: 15px;
    }
}