<footer class="footer">
    <header class="footer__header">

        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12 footer__firstCol">
                    <a href="/">
                        <img class="footer__logo" src="../Arrba/Content/Imgs/logoWhite.png" alt="arrba">
                    </a>
                    <div class="footer__copyrights"> Lorem ipsum dolor sit amet. Maxime, illum. Lorem ipsum dolor sit amet, consectetur. </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h3 class="footer__title hidden-sm">Дополнительно</h3>
                    <div class="footer__adv">
                        <a href="/">Размещение рекламы</a>
                    </div>
                    <div class="footer__offer">
                        <a href="#">Договор оферты</a>
                    </div>
                    <div class="footer__offer">
                        <a href="#">Обратная связь</a>
                    </div>
                </div>
                <div class="col-md-5 col-sm-3 col-xs-12">
                    <!-- <h3 class="footer__title hidden-sm">Обратная связь</h3>
                    <form method="post" class="footer__feetback">
                        <input class="footer__feetbackItem" type="text" placeholder="Имя..." />
                        <input class="footer__feetbackItem" type="text" placeholder="e-mail.." />
                        <input class="footer__feetbackItem" type="text" placeholder="Сообщение..." />
                        <input class="footer__feetbackItem footer__feetbackItemBtn" type="submit" /> </form> -->
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <h3 class="footer__title hidden-sm">Мы в сетях</h3>
                    <div class="footer__social-item ">
                        <a href="/">
                            <div class="footer__social-item-twitter"></div>
                        </a>
                    </div>
                    <div class="footer__social-item ">
                        <a href="/">
                            <div class="footer__social-item-twitter"></div>
                        </a>
                    </div>
                    <div class="footer__social-item ">
                        <a href="/">
                            <div class="footer__social-item-twitter"></div>
                        </a>
                    </div>
                    <div class="footer__social-item ">
                        <a href="/">
                            <div class="footer__social-item-twitter"></div>
                        </a>
                    </div>
                    <div class="footer__social-item ">
                        <a href="/">
                            <div class="footer__social-item-twitter"></div>
                        </a>
                    </div>
                    <div class="footer__social-item ">
                        <a href="/">
                            <div class="footer__social-item-twitter"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <section class="footer__middle">

        <div class="container">
            <div class="footer__middle-leftBlock">
                <span>
                    <i class="fa fa-copyright"></i>2016 ООО "Аррба"</span>
            </div>
            <div class="footer__middle-rightBlock"></div>
        </div>

    </section>
    <footer class="footer__footer"></footer>
</footer>
<div class="modal fade" id="CityListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Выберите город</h4>
            </div>
            <br />
            <div class="container">
                <div class="col-md-6">
                    <div class=" ctrLinks--unit">
                        <div class="col-md-2">
                            <div class="ctrLinks--unit__title">Страна</div>
                        </div>
                        <div class="col-md-5 ctrLinks--unit__ul-container">
                            <div class="ctrSelect">
                                <footer class="ctrSelect__footer">
                                    <select class="ctrSelect__default--forComment" name="offered_id">
                                        <option value=""></option>
                                        <option value="101">Россия</option>
                                        <option value="102">Казахстан</option>
                                    </select>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ctrValue--default">
                        <footer class="ctrValue--default__footer">
                            <input class="ctrValue--default__item-input" type="text" placeholder="Или введите город..."> </footer>
                    </div>
                </div>
            </div>
            <div class="modal-body" data-city-modal>
                <div>
                    <ul class="city-list" data-city-letters>
                        <li class="city-list__item">
                            <span class="city-list__tab">А</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Б</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">В</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Г</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Д</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Е</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Ж</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab active">З</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">И</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Й</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">К</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Л</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">М</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Н</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">О</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">П</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Р</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">С</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Т</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">У</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Ф</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Х</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Ц</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Ч</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Ш</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Щ</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Э</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Ю</span>
                        </li>
                        <li class="city-list__item">
                            <span class="city-list__tab">Я</span>
                        </li>
                    </ul>
                </div>
                <div style="max-height:350px;overflow:auto;">
                    <div class="container-fluid">
                        <div class="row" data-city-list-container> </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="pull-left" href="#" id="All_regions" data-value="0" style="font-size:18px;text-decoration:underline;"></a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<script src="script.js"></script>
<script>
    $(document).ready(function () {
        // $("[name=\"from_year\"], [name=\"to_year\"]").mask("9999", {
        //     placeholder: ""
        // });

        //new ActionLink().init(".hiddenActionLink");

        // window.SearchForm = new SearchForm({
        //     formSelector: "#SearchFilterID",
        //     submitBtnSelector: "#SearchFilterID [type=\"submit\"]",
        //     itemContainer: "#MainContentID",
        //     asideBarContainer: "#AsideBarID",
        //     mainItemTpl: "#MainItemTpl",
        //     countRows: 20
        // });

        // //Start search form

        // window.SearchForm.initSubmitBtn();

        $(".menu_bottom__item-down").click(function () {
            $(".menu_bottom__item-after").each(function (i, e) {
                $(e).toggleClass("show-inline animated fadeInDown");
            });
        });

        var $gridContainer = $(".hot__body");
        $gridContainer.imagesLoaded(function () {
            $gridContainer.css("display", "block");

            var $slider2 = $('.pgwSlider2');
            if ($slider2.find("li").length > 0) $slider2.pgwSlider({
                displayList: false,
                displayControls: true,
                adaptiveHeight: false,
                transitionEffect: "fading" //sliding fading

            });

            $('.hot__grid, .hot__grid--noCenter').masonry({
                //percentPosition: true,
                resize: true,
                //columnWidth: 116,
                gutter: 7,
                fitWidth: true,
                horizontalOrder: true
            });

        });

        //http://pgwjs.com/pgwslider/
        var $slider1 = $('.pgwSlider');
        if ($slider1.find("li").length > 0) $slider1.pgwSlider({
            displayList: false,
            displayControls: true,
            adaptiveHeight: false,
            maxHeight: 77,
            intervalDuration: 4500,
            transitionEffect: "fading" //sliding fading
        });


        //Model regions
        $("[data-choose-city-btn]").click(function (evt) {
            evt.preventDefault();
            $('#CityListModal').globalCities({
                callBack: function ($cityForm, $li) {
                    //var $link = $li.find("[data-value]");
                    //var value = $link.attr("data-value");
                    //var $hidden = $cityForm.find("input[id=\"CurrentCityID\"]");
                    //var $allLink = $("#All_regions");
                    //var allLinkValue = $allLink.attr("data-value");
                },
                callBackRegion: function ($regionForm, $li) {
                    //var $link = $li.find("[data-value]");
                    //var value = $link.attr("data-value");
                    //var $hidden = $regionForm.find("input[id=\"CurrentRegionID\"]");
                }
            }).modal('show');
        });

        $("[data-city-list-btn]").click(function () {
            $("#CityListModal").globalCities({
                callBack: function () {
                    $("#All_regions").text("");
                }
            }).modal("show");
        });

    });
    // $("img, img.lazyload").lazyload({
    //     effect: "fadeIn",
    //     threshold: 200,
    //     failure_limit: 10
    // });
</script>
</body>

</html>