<!--hot ad-->
<section class="hot">
    <header class="hot__header">
        <div class="container">
            <div class="col-md-8">
                <span class="hot__header-title">Горячие предложение в регионе "Московская область"</span>
            </div>
            <div class="col-md-4">
                <a class="hot__header-howgethot" href="/">
                    <i class="fa fa-question-circle" style="color:#4fc1e9;"></i> Как сюда попасть</a>
            </div>
        </div>
    </header>
    <div class="hot__wrapper">
        <div class="container">
            <div class="row hot__body">
                <div class="col-md-12 hot__grid">
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/1-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i> &nbsp;Санкт-Перербург,
                                <span class="hot__item-price">1 500 000₸</span>, что-то еще </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/2-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/3-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/4-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/5-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/6-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/7-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/8-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/9-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/10-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/11-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/12-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/13-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <!-- <div class="hot__grid-item hot__grid-item--width2 hot__item-reklama">
                                <img src="../Arrba/imgs/banner3.gif" alt=""> 
                            </div> -->
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/14-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/15-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/16-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/17-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/18-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/19-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/20-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/21-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/22-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>
                    <div class="hot__item hot__grid-item hot__item-increase">
                        <header class="hot__item-header">
                            <span class="hot__item-name">
                                <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                            <span class="hot__item-imgCount">2&nbsp;
                                <i class="fa fa-camera"></i>
                            </span>
                        </header>
                        <a href="CardPage.html">
                            <img heightWidth src="../Arrba/imgs/23-200x150.jpg" alt="">
                        </a>
                        <footer class="hot__item-footer">
                            <span class="hot__item-city">
                                <i class="fa fa-map-marker"></i>&nbsp;Almaty,
                                <span class="hot__item-price">1 500 000₸</span>
                            </span>
                        </footer>
                    </div>



                </div>
                <div class="col-md-12">
                    <footer class="hot__footer">
                        <div class="col-md-5 hot__footer-totalCount"> Всего
                            <b>254 000</b> объявлений на сайте </div>
                        <div class="col-md-2 hot__footer-btn">
                            <a href="addNewAd.html" class="b-btn b-btn--blue b-btn--spread">
                                <i class="fa fa-plus"></i> Продать </a>
                        </div>
                        <div class="col-md-5 hot__footer-totalCount-today">
                            <b>54 000</b> объявлений подано сегодня
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>