<form action="/AllCities/ru-Ru/Home/Cars" id="SearchFilterID" method="get" novalidate="novalidate">
    <noscript> &lt;br /&gt; &lt;div class="alert alert-danger alert-dismissible" role="alert"&gt; &lt;strong&gt;Внимание!&lt;/strong&gt;
        Отключен javascript или браузер не поддерживает. Крайне рекомендуется включить javascript для полноценной работы
        сайта &lt;/div&gt;</noscript>
    <div id="search-form-content">
        <div id="mainFilter">
            <input id="SuperCategID" name="SuperCategID" type="hidden" value="7">
            <input id="CategID" name="CategID" type="hidden" value="37">
            <section class="searchFilter">
                <div class="searchFilter__topStrip"></div>
                <div class="wrapper-1200">
                    <div class="container searchFilter__container">

                        <div class="row">
                            <div class="col-md-6 searchFilter__leftCol">
                                <div class="row searchFilter__ctrLinks ctrLinks" id="typePanel">

                                    <div class="col-md-2">
                                        <div class="ctrLinks__title">Типы</div>
                                    </div>
                                    <div class="col-md-10 ctrLinks__ul-container">
                                        <input type="hidden" id="TypeID" name="TypeID" value="">
                                        <ul class="ctrLinks__ul">
                                            <li class="ctrLinks__item action-link" data-value="41" title="Внедорожники и пикапы">
                                                <a href="#">Внедорожники и пикапы</a>
                                            </li>
                                            <li class="ctrLinks__item action-link" data-value="39" title="Легковые">
                                                <a href="#">Легковые</a>
                                            </li>
                                            <li class="ctrLinks__item action-link" data-value="40" title="Минивены и микроавтобусы">
                                                <a href="#">Минивены и микроавтобусы</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="row searchFilter__ctrLinks ctrLinks" id="brandPanel">

                                    <div class="col-md-2">
                                        <div class="ctrLinks__title">Бренд</div>
                                    </div>
                                    <div class="col-md-10 ctrLinks__ul-container active">
                                        <input type="hidden" id="BrandID" name="BrandID" value="1772">
                                        <ul class="ctrLinks__ul">
                                            <li class="ctrLinks__item action-link" data-value="22" title="Alpina">
                                                <a href="#">Alpina</a>
                                            </li>
                                            <li class="ctrLinks__item action-link" data-value="101" title="BMW">
                                                <a href="#">BMW</a>
                                            </li>
                                            <li class="ctrLinks__item action-link" data-value="190" title="Dodge">
                                                <a href="#">Dodge</a>
                                            </li>
                                            <li class="ctrLinks__item action-link" data-value="255" title="Geely">
                                                <a href="#">Geely</a>
                                            </li>
                                            <li class="ctrLinks__item action-link active" data-value="1772" title="Holden">
                                                <a href="#">Holden</a>
                                            </li>
                                            <li class="ctrLinks__item action-link" data-value="302" title="Honda">
                                                <a href="#">Honda</a>
                                            </li>
                                            <li class="ctrLinks__more-title action-link more">
                                                <i class="fa fa-plus-circle"></i>&nbsp;Еще</li>
                                        </ul>
                                        <footer class="ctrLinks__more-container inlinePanel-data">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <span class="ctrLinksList__letter">A</span>
                                                        <ul class="ctrLinksList__ul">
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1724" title="">ARO</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1722" title="">Acura</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1723" title="">Alfa Romeo</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="22" title="">Alpina</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1725" title="">Asia</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1726" title="">Aston Martin</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1727" title="">Audi</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1728" title="">AС</a>
                                                            </li>
                                                        </ul>
                                                        <span class="ctrLinksList__letter">B</span>
                                                        <ul class="ctrLinksList__ul">
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1730" title="">BAW</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="101" title="">BMW</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1735" title="">BYD</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1729" title="">Barkas</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1731" title="">Bentley</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1732" title="">Brilliance</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1733" title="">Bugatti</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1734" title="">Buick</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <span class="ctrLinksList__letter">H</span>
                                                        <ul class="ctrLinksList__ul">
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1770" title="">Hawtai</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1771" title="">Hebei Zhongxing</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link active" href="#" isbody="true" data-value="1772" title="">Holden</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="302" title="">Honda</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1773" title="">Huanghai</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1774" title="">Hummer</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="318" title="">Hyundai</a>
                                                            </li>
                                                        </ul>
                                                        <span class="ctrLinksList__letter">I</span>
                                                        <ul class="ctrLinksList__ul">
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1775" title="">Infiniti</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1776" title="">Iran Khodro</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="325" title="">Isuzu</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1777" title="">Iveco</a>
                                                            </li>
                                                        </ul>
                                                        <span class="ctrLinksList__letter">J</span>
                                                        <ul class="ctrLinksList__ul">
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1778" title="">JAC</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="341" title="">JMC</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1779" title="">Jaguar</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1780" title="">Jeep</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <span class="ctrLinksList__letter">R</span>
                                                        <ul class="ctrLinksList__ul">
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1811" title="">Renault Samsung</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1812" title="">Rimac</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1813" title="">Rolls-Royce</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1814" title="">Rover</a>
                                                            </li>
                                                        </ul>
                                                        <span class="ctrLinksList__letter">S</span>
                                                        <ul class="ctrLinksList__ul">
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1815" title="">Saab</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1816" title="">Santana</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1817" title="">Saturn</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1818" title="">Sceo</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1819" title="">Scion</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1820" title="">Seat</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1821" title="">Shuanghuan</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1822" title="">Skoda</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="622" title="">Smart</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1823" title="">Soueast</a>
                                                            </li>
                                                            <li>
                                                                <a class="ctrLinksList__link action-link" href="#" isbody="true" data-value="1824" title="">SsangYong</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </footer>
                                    </div>

                                </div>
                                <div class="row searchFilter__ctrLinks ctrLinks" id="modelPanel">

                                    <div class="col-md-2">
                                        <div class="ctrLinks__title">Модель</div>
                                    </div>
                                    <div class="col-md-10 ctrLinks__ul-container">
                                        <input type="hidden" id="ModelID" name="ModelID" value="">
                                        <ul class="ctrLinks__ul">
                                            <li class="ctrLinks__item action-link" data-value="859" title="EK">
                                                <a href="#">EK</a>
                                            </li>
                                            <li class="ctrLinks__item action-link" data-value="860" title="FE">
                                                <a href="#">FE</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="row searchFilter__ctrLinks ctrLinks">

                                    <div class="col-md-2">
                                        <div class="ctrLinks__title">Частые</div>
                                    </div>
                                    <div class="col-md-10 ctrLinks__ul-container _active">
                                        <header action-link-container="">
                                            <input name="_ForceCityID" type="hidden" value="">
                                            <ul class="ctrLinks__ul">
                                                <li class="ctrLinks__item action-link" data-value="6">
                                                    <a href="#">Заринск</a>
                                                </li>
                                                <li class="ctrLinks__item action-link" data-value="5">
                                                    <a href="#">Горняк</a>
                                                </li>
                                                <li class="ctrLinks__item action-link" data-value="4">
                                                    <a href="#">Бийск</a>
                                                </li>
                                                <li class="ctrLinks__item action-link" data-value="3">
                                                    <a href="#">Белокуриха</a>
                                                </li>
                                                <li class="ctrLinks__item action-link" data-value="2">
                                                    <a href="#">Барнаул</a>
                                                </li>
                                            </ul>
                                        </header>
                                        <footer class="ctrLinks__more-container ctrLinksList" style="_display:none;">
                                            <div class="container-fluid">
                                                <div class="row"> </div>
                                            </div>
                                        </footer>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 searchFilter__centerCol">
                                <div class="ctrValueFromTo">
                                    <header class="ctrValueFromTo__title"> Цена
                                        <div class="ctrSelectCurrency2">
                                            <span>Валюта:</span>
                                            <select class="ctrSelectCurrency__select2" id="CurrencyID" name="CurrencyID">
                                                <option value="0">Все</option>
                                                <option value="3">EUR</option>
                                                <option value="4">RUR</option>
                                                <option value="1">USD</option>
                                            </select>
                                        </div>
                                    </header>
                                    <footer class="ctrValueFromTo__footer">
                                        <div class="ctrValueFromTo__item-from">От</div>
                                        <input class="ctrValueFromTo__item-input" type="text" name="from_price">
                                        <div class="ctrValueFromTo__item-to">До</div>
                                        <input class="ctrValueFromTo__item-input" type="text" name="to_price"> </footer>
                                </div>
                                <br>
                                <div class="ctrValueFromTo">
                                    <header class="ctrValueFromTo__title">Год выпуска</header>
                                    <footer class="ctrValueFromTo__footer">
                                        <div class="ctrValueFromTo__item-from">От</div>
                                        <input class="ctrValueFromTo__item-input" type="text" name="from_year" placeholder="2010">
                                        <div class="ctrValueFromTo__item-to">До</div>
                                        <input class="ctrValueFromTo__item-input" type="text" name="to_year" placeholder="2016"> </footer>
                                </div>
                                <br>
                                <div class="ctrSelect">
                                    <header class="ctrSelect__title">Состояние</header>
                                    <footer class="ctrSelect__footer">
                                        <select class="ctrSelect__default" data-val="true" data-val-required="Требуется поле VehicleCondition." id="vehicleCondition"
                                            name="vehicleCondition">
                                            <option selected="selected" value="0"></option>
                                            <option value="1">Новый</option>
                                            <option value="2">Б/У</option>
                                            <option value="3">Аварийный</option>
                                        </select>
                                    </footer>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 searchFilter__rightCol">
                                <div class="ctrCheckbox__container">
                                    <div class="ctrCheckbox__item">
                                        <input type="checkbox" id="c1" name="HasPhoto">
                                        <label for="c1">
                                            <span></span>
                                            <b class="ctrCheckbox__title">С фото</b>
                                        </label>
                                    </div>
                                    <br>
                                    <div class="ctrCheckbox__item">
                                        <input type="checkbox" id="c2" name="HotSelling">
                                        <label for="c2">
                                            <span></span>
                                            <b class="ctrCheckbox__title">Торг, уместен!</b>
                                        </label>
                                    </div>
                                    <br>
                                    <div class="ctrCheckbox__item">
                                        <input type="checkbox" id="c3" name="CustomClear">
                                        <label for="c3">
                                            <span></span>
                                            <b class="ctrCheckbox__title">Растаможен</b>
                                        </label>
                                    </div>
                                    <br>
                                    <div class="ctrCheckbox__item">
                                        <input type="checkbox" id="c4" name="InInstalments">
                                        <label for="c4">
                                            <span></span>
                                            <b class="ctrCheckbox__title">В рассрочку</b>
                                        </label>
                                    </div>
                                    <br>
                                    <div class="ctrCheckbox__item">
                                        <input type="checkbox" id="c5" name="ExchangePossible">
                                        <label for="c5">
                                            <span></span>
                                            <b class="ctrCheckbox__title">Возможен обмен</b>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <br class="hidden-lg hidden-md visible-sm visible-xs">
                                <button class="b-btn findBtn--inSearchFilterGray hidden-sm hidden-xs" type="button" data-prop-more-btn="">
                                    <i class="fa fa-search" style="color: white;"></i>
                                    Расширеный поиск
                                </button>
                                <button class="b-btn b-btn--gray-spread findBtn--inSearchFilterGray hidden-lg hidden-md visible-sm visible-xs" type="button"
                                    data-prop-more-btn="">
                                    <i class="fa fa-search" style="color: white;"></i>
                                    Расширеный поиск
                                </button>
                            </div>
                            <div class="col-md-offset-3 col-md-3 col-xs-12">
                                <br class="hidden-lg hidden-md visible-sm visible-xs">
                                <a href="ShowAdList_sm.html" class="b-btn b-btn--blue findBtn--inSearchFilter" type="submit">
                                    Найти
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="searchFilterAdv active" data-prop-expand-list="">
                <div class="wrapper-1200">
                    <div class="container _searchFilterAdv__border">
                        <div class="row" id="propPanel">
                            <div class="col-md-3 col-sm-4 col-xs-12 searchFilterAdv__item _well">
                                <div class="ctrSelect">
                                    <header class="ctrSelect__title">Кузов</header>
                                    <footer class="ctrSelect__footer">
                                        <select class="ctrSelect__default" name="2" id="">
                                            <option selected=""></option>
                                            <option value="21">седан</option>
                                            <option value="22">универсал</option>
                                            <option value="23">хэтчбек/лифтбек</option>
                                            <option value="24">лимузин</option>
                                            <option value="25">купе</option>
                                            <option value="26">кабриолет</option>
                                            <option value="27">внедорожник</option>
                                        </select>
                                    </footer>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 searchFilterAdv__item _well">
                                <div class="ctrSelect">
                                    <header class="ctrSelect__title">Тип двигателя</header>
                                    <footer class="ctrSelect__footer">
                                        <select class="ctrSelect__default" name="3" id="">
                                            <option selected=""></option>
                                            <option value="28">бензин</option>
                                            <option value="29">дизель</option>
                                            <option value="30">газ-бензин</option>
                                            <option value="31">газ</option>
                                            <option value="32">гибрид</option>
                                            <option value="33">электричество</option>
                                        </select>
                                    </footer>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 searchFilterAdv__item _well">
                                <div class="ctrValue">
                                    <header class="ctrValue__title">Объем двигателя (см3)</header>
                                    <footer class="ctrValue__footer">
                                        <div class="ctrValue__item-title">
                                            <b>Не более</b>
                                        </div>
                                        <input class="ctrValue__item-input" type="text" name="6"> </footer>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 searchFilterAdv__item _well">
                                <div class="ctrSelect">
                                    <header class="ctrSelect__title">коробка передачь</header>
                                    <footer class="ctrSelect__footer">
                                        <select class="ctrSelect__default" name="29" id="">
                                            <option selected=""></option>
                                            <option value="51">Mechanics</option>
                                            <option value="52">AutomaticTransmission</option>
                                            <option value="53">robotic</option>
                                        </select>
                                    </footer>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 searchFilterAdv__item _well">
                                <div class="ctrValue">
                                    <header class="ctrValue__title">пробег (км)</header>
                                    <footer class="ctrValue__footer">
                                        <div class="ctrValue__item-title">
                                            <b>Не более</b>
                                        </div>
                                        <input class="ctrValue__item-input" type="text" name="4"> </footer>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 searchFilterAdv__item _well">
                                <div class="ctrSelect">
                                    <header class="ctrSelect__title">Цвет кузова</header>
                                    <footer class="ctrSelect__footer">
                                        <select class="ctrSelect__default" name="1" id="">
                                            <option selected=""></option>
                                            <option value="1">вишня</option>
                                            <option value="2">хамелеон</option>
                                            <option value="3">бежевый</option>
                                            <option value="4">белый</option>
                                            <option value="5">бирюзовый</option>
                                            <option value="6">бордовый</option>
                                            <option value="7">голубой</option>
                                            <option value="8">желтый</option>
                                            <option value="9">зеленый</option>
                                            <option value="10">золотистый</option>
                                            <option value="11">коричневый</option>
                                            <option value="12">красный</option>
                                            <option value="13">оранжевый</option>
                                            <option value="14">розовый</option>
                                            <option value="15">серебристый</option>
                                            <option value="16">серый</option>
                                            <option value="17">синий</option>
                                            <option value="18">сиренивый</option>
                                            <option value="19">фиолетовый</option>
                                            <option value="20">черный</option>
                                        </select>
                                    </footer>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-12" id="checkBoxProperty"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="ShowAdList_sm.html" class="b-btn b-btn--blue-spread" type="submit">Найти</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>