.ctrCheckbox--unit{
    padding-top:25px;
    padding-left:40px;
    .device-xs({padding-left:0px;});
    &__item{
        //padding-top:20px;
        padding-bottom: 15px;
    }
    &__title{
        cursor: pointer;
    }

}