.productItem--sm{
    
    .row{margin:0;}
    .transition(0.5s); 
    .device-md({margin-bottom:25px;});
    .device-sm({margin-bottom:15px;});
    
    padding-left: 0;
    //min-height: 180px;
    margin: 5px 0; 
    padding: 15px 0;
    
     &.green{background-color: #dbf8de;.color-padding;}
    &.yellow{background-color: #ffffd4;.color-padding;}
    &.red{background-color: #ffdbdb;.color-padding;}
    &.blue{background-color: #dbeeff;.color-padding;}
    
    
    &__img{
        .transition(0.5s); 
    }
    &__text{
        .transition(0.5s); 
        display: inline;
    }
    &__emergency{
        color:#c0392b;
        font-weight: bold;
        display: inline;
    }
    &__container{
        .transition(0.5s); 
        padding-left: 10px;
        position: relative;
        min-height: 100px;
        .device-md({min-height: 120px;});
    }
}
