.productItem {
    .row {
        margin: 0;
    }
    .transition(0.5s);
    .device-md( {
        margin-bottom: 25px;
    }
    );
    .device-sm( {
        margin-bottom: 15px;
    }
    );
    padding-left: 0;
    margin: 5px 0;
    padding: 10px 0;
    img[alt] {
        color: #9ca0a5;
        /* border: 0; */
        font-size: 13px;
        /* text-align: center; */
        outline: none;
        border: none;
        text-transform: uppercase;
        font-weight: bold;
    }
    &.green {
        background-color: #dbf8de;
        .color-padding;
    }
    &.yellow {
        background-color: #ffffd4;
        .color-padding;
    }
    &.red {
        background-color: #ffdbdb;
        .color-padding;
    }
    &.blue {
        background-color: #dbeeff;
        .color-padding;
    }
    &.yellow-n {
        .color-padding;
        background-color: #FCEBB6;
    }
    &.green-n {
        background-color: #1BA39C;
        color: white;
        .color-padding;
        & .productItem__footer-itemUl {
            color: white;
        }
        & .productItem__title {
            color: darken(@color-primary, -25%);
            ;
        }
        & .productItem__price {
            color: #DBF3B0;
        }
    }
    &.blue-n {
        background-color: #4887AA;
        color: white;
        .color-padding;
        & .productItem__footer-itemUl {
            color: white;
        }
        & .productItem__title {
            color: darken(@color-primary, -25%);
        }
        & .productItem__price {
            color: #DBF3B0;
        }
    }
    &.red-n {
        background-color: #DB6B71;
        color: white;
        .color-padding;
        & .productItem__footer-itemUl {
            color: white;
        }
        & .productItem__title {
            color: darken(@color-primary, -25%);
            ;
        }
        & .productItem__price {
            color: #DBF3B0;
        }
        & .productItem__hot {
            background-color: #FF887B;
        }
        & .productItem__arrowDown {
            border-top: 15px solid #FF887B;
        }
    }
    &__img {
        .transition(0.5s);
    }
    &__img-link {
        position: relative;
    }
    &__img-count {
        position: absolute;
        bottom: 0px;
        right: 5px;
        color: white;
        font-weight: bold;
        background-color: darken( @color-gray, -5%);
        padding-left: 5px;
        padding-right: 5px;
    }
    &__emergency {
        color: #c0392b;
        font-weight: bold;
        //font-size: 16px;
    }
    &__hot {
        background-color: #ea5e4f;
        color: white;
        font-weight: bold;
        padding: 4px;
        position: relative;
        .device-sm( {
            margin-left: 0;
        }
        );
        .device-xs( {
            margin-left: 0;
        }
        );
    }
    &__arrowDown {
        padding-top: 10px;
        margin-left: 5%;
        background-color: transparent;
        border-top: 15px solid #ea5e4f;
        width: 30px;
        border-left: 1px solid transparent;
        border-right: 28px solid transparent;
        position: absolute;
    }
    &__text {
        .transition(0.5s);
        height: 80px;
        overflow: hidden;
        .device-xs( {
            font-size: @font-size-xs;
            padding: 10px 0;
            height: initial;
        }
        );
    }
    &__header {
        min-height: 40px;
    }
    &__for {
        color: @color-gray;
    }
    &__title {
        color: @color-primary;
        // text-transform: uppercase;
        font-weight: bold;
        // text-decoration: underline;
        padding-right: 5px;
        .device-xs({font-size: @font-size-xs-inlg;});
        &:hover {
            color: darken(@color-primary, 20%);
        }
    }
    &__price {
        color: #8BCA1A;
        font-weight: bold;
        padding-left: 5px;
        padding-right: 5px;
        .device-xs({font-size: 30px;});
    }
    &__footer {
        /* min-height: 30px; */
        /* padding-top: 20px; */
        color: #9EB2C0;
        //position: absolute;
        //bottom: 0px;
        .device-sm( {
            position: static;
            bottom: auto;
        }
        );
    }
    &__container {
        .transition(0.5s);
        padding-left: 10px;
        position: relative;
        min-height: 150px;
    }
    &__leftBlock {
        display: inline-block;
        .device-xs({padding: 10px 0;});
    }
    &__rightBlock {
        float: right;
        .device-sm( {
            float: none;
        }
        );
        .device-xs( {
            // padding: 10px 0;
            // float: none;
            display: none;
        }
        );
    }
    &__title, &__price, &__hot {
        display: inline-block;
    }
    &__footer-itemUl {
        margin: 0;
        padding: 0;
    }
    &__footer-item {
        display: inline-block;
        padding-right: 10px;
    }
}


/*
Container to make small
*/

.productItemSm {
    .productItem {
        .productItem__img {
            width: 16.66666667%;
        }
        .productItem__container {
            width: 83.33333333%;
            min-height: 100px;
        }
        .productItem__text {
            height: 40px;
            overflow: hidden;
        }
    }
}