.user-unit{

    &__item{
        //padding: 0 20px;
        overflow: hidden;
        margin-bottom: 15px;
        padding-bottom: 15px;
        //border:1px solid lighten(@color-gray, 25%);
        // .device-lg({border:1px solid lighten(@color-gray, 25%);});
        // .device-md({border:1px solid lighten(@color-gray, 25%);});
        &.red{
            padding: 0 20px;
            background-color: #ffdbdb;
        }
        &.green{
            padding: 0 20px;
            background-color: #dbf8de;
        }
        &.blue{
            padding: 0 20px;
            background-color: #dbeeff;
        }
        &.yellow{
            padding: 0 20px;
            background-color: #ffffd4;
        }
        &.red-n{
            padding:0 20px;
            background-color:#DB6B71;
            color:white;
        }
        &-title{
            font-size: 20px;
            padding-top:15px;
            padding-bottom: 15px;
            text-transform: uppercase;
        }

        &-price{
            font-size: 20px;
            color:#8BCA1A;
        }
        &-link{
            float:right;
        }
    }

    &__item-body{
        .device-sm({padding-left:20px;});
    }
    &__item-body-right-col{
        .device-sm({padding-left:15px;});
    }

    &__item{
        &-desc-title{
            padding-top:15px;
            padding-bottom: 15px;
            text-transform: uppercase;
             &--sm{
                padding-top:15px;
                padding-bottom: 15px;
            }
        }
        &-info{
            color:@color-gray;
            padding:5px 0 5px 0;
        }
        &.red-n &-info{
            color:white;
        }
    }


    &__service{
        padding:0 20px;

        &-title{
            text-transform: uppercase;
        }

    }

    &__reduction{
        padding-left:10px;
       &-btn{
            padding:10px 0;
        }
    }


}
