.news-block{

    border:1px solid #eee;
    padding:15px;
   
   &__header{
       overflow: hidden;
   } 
   &__title{
       .ifRtl({float:right;},{float:left;});
       color: initial;

       &:hover{
        text-decoration: none;
        color: initial;
       }
   }
   &__link{
       color:@color-gray;
   }
   &__all-news{
     float:right;
   }

   &__news-item-img{
     height: 80px;
     overflow: hidden;
   }
} 