.ctrSelectCurrency{
    
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: -25px;

    &__select{
         -webkit-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        -moz-appearance: none;
        border: 2px solid #BEBEBE;
        background-color: #E9F0F4;
        border-radius: 5px;
        padding: 2px 5px;
        font-weight: 700;
        font-size: 16px;
        
        &:hover{
            cursor: pointer;
        }
         
    }
    
    &__select2{
    // border: 1px solid #4fc1e9;
    border: none;
    background: transparent;
    /* background-color: #4fc1e9; */
    /* color: white; */
    cursor: pointer;
    }

    &__container{
        position: relative;
    }
}  

.ctrSelectCurrency2{
    
    display: inline-block;
    float: right;

}
