.searchFilter{

    &__container{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    //display: none;
    padding-bottom: 25px;
    background-color:#e9f0f4;
    &__topStrip{
        height: 5px;
        background-color: @color-primary;
    }
    &__topArrowDown{
        padding-top: 10px;
        //margin: 0 auto;
        margin-left: 25%;
        width: 30px;
        border-top: solid 15px  @color-primary;
        border-left: solid 15px transparent;
        border-right: solid 15px transparent;
        background-color: transparent;
    }
    
    &__leftCol{
        padding-right: 15px;
    }
    &__centerCol{
       //padding:45px 15px 0 15px;
    //    .device-sm({padding:0;});
    //    .device-xs({padding:0;});
    }
    &__rightCol{
    //    padding:45px 15px 0 30px;
    .device-sm({padding-top: 15px;});
    .device-xs({padding-top: 15px;});
    }
    &__ctrLinks{
        padding-bottom: 25px;
    }

}