@threeAngleWidth:5px;

[class~="categItem"]{
   //min-height: 60px;
}

.categItem{
    .dsh;
    padding-left: 0;
    padding-right: 0;

    &__img, &__title, &__allMarks, &__btnBlock{
        float: left;
        height: 55px;
        .dsh;
    }
    // img block
    &__img{
        width: 95px;
        padding-right: 20px;
    }
    // title block
    &__title{
        display: table;
        width:270px;
        &-text{
            display: table-cell;
            vertical-align: middle;
            text-decoration: underline;
            font-size: @font-size-xs;
        }
    }
    // all marks block
    &__allMarks{
        display: table;
        width: 140px;
        .device-xs({width:100%;});
        &-text{
            display: table-cell;
            vertical-align: middle;
            cursor: pointer;
            & .arrowDown::after{
                margin-left: 5px;
                display: inline-block;
                content: "";
                width: 0;
                height: 0;
                border-left: @threeAngleWidth solid transparent;
                border-right: @threeAngleWidth solid transparent;
                border-top: @threeAngleWidth solid #2e3641;
            }

            & .arrowUp::after{
                margin-left: 5px;
                display: inline-block;
                content: "";
                width: 0;
                height: 0;
                border-left: @threeAngleWidth solid transparent;
                border-right: @threeAngleWidth solid transparent;
                border-bottom: @threeAngleWidth solid #2e3641;
            }
        }

    }
    &__btnBlock{
        display: table;
        float: right;
        &-btn{
            display: table-cell;
            vertical-align: middle;
        }
        .fa-plus {
            transition: transform .3s ease;
        }
    }
    &__btnBlock:hover {
        .fa-plus {
            transform: rotate(360deg);
        }
    }
    &__btn{
        .device-xs({padding:0;});
        .device-sm({padding:0;});
        .device-md({padding:0;});
    }

}

.device-md({
    .categItem{
        &__img{
            width: 80px;
        }
        &__title{
           width:274px;
           padding-left:0;
        }
        &__allMarks{
           width: 120px;
        }
        &__btnBlock{
            // width:240px;
        }
    }
});

.device-sm({
    .categItem{
        &__img{
            width: 90px;
        }
        &__title{
           width:274px;
           padding-left:0;
        }
        &__allMarks{
           width: 120px;
        }
        &__btnBlock{
            // width:255px;
        }
    }
});

.device-xs({
    .categItem{
        &__img{
            width: 150px;
        }
        &__title{
            width:auto;
            &-text{
                font-size: 30px;
                //padding: 10px 0;
                text-decoration: none;
            }
        }
        &__allMarks{
            padding: 10px 0;
            font-size: 20px;
            text-decoration: none;
        }
        &__img, &__title, &__allMarks, &__btnBlock{
            clear: left;
            height: auto;
        }
        &__btnBlock{
            width:100%;
        }
    }

});