// #D5D5D5

.comment-form{
    
    padding:25px;
    border: 1px solid #D5D5D5;
    margin-top:25px;    
    
    &__title{
        text-transform: uppercase;
        font-weight: bold;
    }
    &__control-group {
        //display: inline-block;
    }
    &__lbl, &__control{
        display: inline-block;
    }
    &__lbl{
        width:30%;
    }
    &__control{
        width:65%;
    }
    &__control{
        border: 1px solid #CFCFCF;
        height: 30px;
        margin-top: 15px;
        margin-bottom: 15px;

        &--area{
            height: 100%;  
            width:100%; 
            resize: none;
        }
    }
    &__btn{
        overflow: hidden;
    }
    &__agreement{
        line-height: 3;
        i{
            color:red;
        }
        a{
            color: #4fc1e9;
            text-decoration: underline;
        }
    }
}