.city-list{
    
    padding-bottom: 15px;
    
    &__item{
        display: inline-block;
    }
   
    &__tab{
        color: #8d8d8d;
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1px;
        padding-bottom: 4px;
        cursor: pointer;
        &:hover, &.active{
            color: @color-blue;
            border-bottom: 2px solid #00acdd;
            padding-bottom: 2px;
        }
    }
}