.menu_bottom {
    clear: both;
    background-color: #2e3641;

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__subcateg-hint{
        padding-top: 10px;
        color:wheat;
    }
    &__item {
        padding: 22px 0;
        padding-right: 15px;
    }
    &__item--tiny {
        padding: 8px 0;
        &:after {
            content: "|";
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    &__item, &__item--tiny {
        display: inline-block;
        // text-transform: uppercase;
        color: #fff;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        a {
            color: inherit;
        }
        &.active {
            color: @color-primary;
        }
        &:hover, & a:hover {
            color: @color-primary;
            cursor: pointer;
            text-decoration: none;
        }
    }
    &__item-down {
        padding: 5px;
        border: 1px solid gray;
        border-radius: 5px;
    }
    &__item-after {
        display: none;
        &.show-inline {
            display: inline-block;
        }
    }
    &__shop {
        display: none;
    }
    .device-xs( {
        &__item {
            display: list-item;
            font-size: @font-size-xs;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid gray;
        }
        &__item:last-child {
            border-bottom: none;
        }
        &__item-after, &__item-after.show-inline {
            display: list-item;
        }
    }
    );
}