<!--breadScrumbs-->
<section class="wrapper-1200">
    <header class="container">
        <div class="row">
            <div class="col-md-12 _well">

                <div class="breadScrumbs">
                    <ul class="breadScrumbs__ul">
                        <li class="breadScrumbs__item">
                            <a class="breadScrumbs__link" href="/">Главная</a>
                        </li>
                        <li class="breadScrumbs__item">
                            <a class="breadScrumbs__link" href="/">Наземная техника</a>
                        </li>
                        <li class="breadScrumbs__itDDem">
                            <a class="breadScrumbs__link" href="/">Мотоциклы</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </header>
</section>

<section class="wrapper-1200">
    <header class="container unit-header">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="unit-header__title h4">Подать объявление в раздел мотоциклы</h1>
                <small class="unit-header__help">
                    Срок действия объявления на сайте - 7 дней. Продлить объявление можно воспользовавшись соотвтетсвующей услугой в вашем
                    <a href="/">личном кабинете</a>
                </small>
            </div>
        </div>
        <div class="row unit-header__brand-model">
            <div class="col-md-8">
                <div class="unit-header__brand-model-title">
                    Бренд и модель
                    <span class="ctrValue__asterics">*</span>
                </div>
                <div class="unit-header__body">
                    <select name="" id="" size="5" class="unit-header__brand">
                        <option value="" class="unit-header__brand-item">Lorem.</option>
                        <option value="" class="unit-header__brand-item">Illum!</option>
                        <option value="" class="unit-header__brand-item">Repellendus.</option>
                        <option value="" class="unit-header__brand-item">Temporibus?</option>
                        <option value="" class="unit-header__brand-item">Dolores?</option>
                    </select>
                    <select name="" id="" size="5" class="unit-header__model">
                        <option value="" class="unit-header__model-item">Lorem.</option>
                        <option value="" class="unit-header__model-item">Illum!</option>
                        <option value="" class="unit-header__model-item">Repellendus.</option>
                        <option value="" class="unit-header__model-item">Temporibus?</option>
                        <option value="" class="unit-header__model-item">Dolores?</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="unit-header__brand-model-title">
                    Если вашей модели нет укажите её
                </div>
                <div class="ctrValue--default">
                    <footer class="ctrValue--default__footer">
                        <!--<div class="ctrValue--default__item-title"><b>Модель</b></div>-->
                        <input class="ctrValue--default__item-input" placeholder="Ваша модель..." type="text" name="">
                    </footer>
                </div>
                <br />
                <div class="ctrCheckbox--default">
                    <div class="ctrCheckbox__item">
                        <input type="checkbox" id="c9" name="cc">
                        <label for="c9">
                            <span></span>
                            <b class="ctrCheckbox__title">Нужная модель отсутствует в списке</b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-7 _well">
                <div class="ctrLinks--unit">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="ctrLinks--unit__title">Тип техники
                                <span class="ctrValue__asterics">*</span>
                            </div>
                        </div>
                        <div class="col-md-9 ctrLinks--unit__ul-container">
                            <ul class="ctrLinks--unit__ul">
                                <li class="ctrLinks--unit__item">
                                    <a href="#">Горный</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">кросовый</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">мокик</a>
                                </li>
                                <li class="ctrLinks--unit__item active">
                                    <a href="#">мопед</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">мотобайк</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">скутер</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">мотобайк</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">скутер</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">мотобайк</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">скутер</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">мотобайк</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">скутер</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">мотобайк</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">скутер</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="ctrValue--unit">
                        <footer class="ctrValue--unit__footer">
                            <div class="col-md-3 ctrValue--unit__item-title">
                                <b>Год выпуска
                                    <span class="ctrValue__asterics">*</span>
                                </b>
                            </div>
                            <input class="col-md-9 ctrValue--unit__item-input" type="text" placeholder="" name="price">
                        </footer>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="ctrValue--unit">
                            <footer class="ctrValue--unit__footer">
                                <div class="col-md-6 ctrValue--unit__item-title">
                                    <b>Цена
                                        <span class="ctrValue__asterics">*</span>
                                    </b>
                                </div>
                                <input class="col-md-6 ctrValue--unit__item-input text-box single-line" data-val="true" data-val-number="Значением поля цена должно быть число."
                                    data-val-required="Требуется поле &quot;цена&quot;" id="Price" name="Price" placeholder=""
                                    type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Price" data-valmsg-replace="true"></span>

                            </footer>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12 ctrLinks--unit__ul-container">
                            <ul class="ctrLinks--unit__ul">
                                <li class="ctrLinks--unit__item">
                                    <a href="#">Рубль</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">Гривна</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">Тенге</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">Доллалр США</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">Евро</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="ctrValue__asterics">*</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="ctrLinks--unit">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="ctrLinks--unit__title">Цвет</div>
                        </div>
                        <div class="col-md-9 ctrLinks--unit__ul-container">
                            <ul class="ctrLinks--unit__ul">
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:#B4204E;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="вишня"></span>
                                    <!--<a href="#">вишня</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background: linear-gradient(-25deg, #FD2323, #00FFD0);;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="хамелеон"></span>
                                    <!--<a href="#">хамелеон</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:#F0DEBA;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="бежевый"></span>
                                    <!--<a href="#">бежевый</a>-->
                                </li>
                                <li class="ctrLinks--unit__item active">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:#FFF;border:1px solid;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="белый"></span>
                                    <!--<a href="#">белый</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:#70B6B3;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="бирюзовый"></span>
                                    <!--<a href="#">бирюзовый</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:#5A040D;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="бордовый"></span>
                                    <!--<a href="#">бордовый</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:#85B0F8;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="голубой"></span>
                                    <!--<a href="#">голубой</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:#F8EF85;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="желтый"></span>
                                    <!--<a href="#">желтый</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:green;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="зеленый"></span>
                                    <!--<a href="#">зеленый</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:gold;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="золотистый"></span>
                                    <!--<a href="#">золотистый</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:brown;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="коричневый"></span>
                                    <!--<a href="#">коричневый</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:red;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="красный"></span>
                                    <!--<a href="#">красный</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:orange;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="оранжевый"></span>
                                    <!--<a href="#">оранжевый</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:#F219AF;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="розовый"></span>
                                    <!--<a href="#">розовый</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:silver;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="серебристый"></span>
                                    <!--<a href="#">серебристый</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:blue;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="серый"></span>
                                    <!--<a href="#">серый</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:#CC99FF;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="синий"></span>
                                    <!--<a href="#">синий</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:#860F89;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="сиренивый"></span>
                                    <!--<a href="#">сиренивый</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:#B4204E;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="фиолетовый"></span>
                                    <!--<a href="#">фиолетовый</a>-->
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <span class="color" style="width: 31.5px;height: 21.5px;display:inline-block;background-color:black;vertical-align: middle;text-decoration:none;"
                                        data-toggle="tooltip" data-placement="top" title="черный"></span>
                                    <!--<a href="#">черный</a>-->
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="ctrLinks--unit">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="ctrLinks--unit__title">Тип Двигателя</div>
                        </div>
                        <div class="col-md-9 ctrLinks--unit__ul-container">
                            <ul class="ctrLinks--unit__ul">
                                <li class="ctrLinks--unit__item">
                                    <a href="#">бензин</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">дизель</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">газ-дизель</a>
                                </li>
                                <li class="ctrLinks--unit__item active">
                                    <a href="#">электричесвто</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">газ</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">скутер</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="ctrValue--unit">
                        <footer class="ctrValue--unit__footer">
                            <div class="col-md-3 ctrValue--unit__item-title">
                                <b>Объем двигателя</b>
                            </div>
                            <input class="col-md-9 ctrValue--unit__item-input" type="text" placeholder="" name="price">
                        </footer>
                    </div>
                </div>



                <div class="row">
                    <div class="ctrValue--unit">
                        <footer class="ctrValue--unit__footer">
                            <div class="col-md-3 ctrValue--unit__item-title">
                                <b>Пробег</b>
                            </div>
                            <input class="col-md-9 ctrValue--unit__item-input" type="text" placeholder="" name="price">
                        </footer>
                    </div>
                </div>


                <div class="ctrLinks--unit">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="ctrLinks--unit__title">Тип кузова</div>
                        </div>
                        <div class="col-md-9 ctrLinks--unit__ul-container">
                            <ul class="ctrLinks--unit__ul">
                                <li class="ctrLinks--unit__item">
                                    <a href="#">спорт</a>
                                </li>
                                <li class="ctrLinks--unit__item active">
                                    <a href="#">круизер</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">классик</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">родстер</a>
                                </li>
                                <li class="ctrLinks--unit__item">
                                    <a href="#">закрытая кабина</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-md-3">
                        <div class="ctrValue--unit">
                            <footer class="ctrValue--unit__footer">
                                <div class="ctrValue--unit__item-title">
                                    <b>Общие</b>
                                </div>
                            </footer>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-6 ctrLinks--unit__ul-container">
                            <div class="ctrCheckbox--unit__item">
                                <input type="checkbox" id="c11" name="cc">
                                <label for="c11">
                                    <span></span>
                                    <b class="ctrCheckbox--unit__title">В наличие</b>
                                </label>
                            </div>

                            <div class="ctrCheckbox--unit__item">
                                <input type="checkbox" id="c12" name="cc">
                                <label for="c12">
                                    <span></span>
                                    <b class="ctrCheckbox--unit__title">На заказ</b>
                                </label>
                            </div>

                            <div class="ctrCheckbox--unit__item">
                                <input type="checkbox" id="c13" name="cc">
                                <label for="c13">
                                    <span></span>
                                    <b class="ctrCheckbox--unit__title">Шлем в наличие</b>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <br />

                <div class="row">
                    <div class="col-md-3">
                        <div class="ctrValue--unit">
                            <footer class="ctrValue--unit__footer">
                                <div class="ctrValue--unit__item-title">
                                    <b>Экстерьер</b>
                                </div>
                            </footer>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-6 ctrLinks--unit__ul-container">
                            <div class="ctrCheckbox--unit__item">
                                <input type="checkbox" id="c14" name="cc">
                                <label for="c14">
                                    <span></span>
                                    <b class="ctrCheckbox--unit__title">литые диски</b>
                                </label>
                            </div>

                            <div class="ctrCheckbox--unit__item">
                                <input type="checkbox" id="c15" name="cc">
                                <label for="c15">
                                    <span></span>
                                    <b class="ctrCheckbox--unit__title">тонировка</b>
                                </label>
                            </div>

                            <div class="ctrCheckbox--unit__item">
                                <input type="checkbox" id="c16" name="cc">
                                <label for="c16">
                                    <span></span>
                                    <b class="ctrCheckbox--unit__title">люк</b>
                                </label>
                            </div>
                            <div class="ctrCheckbox--unit__item">
                                <input type="checkbox" id="c17" name="cc">
                                <label for="c17">
                                    <span></span>
                                    <b class="ctrCheckbox--unit__title">панорамная крыша</b>
                                </label>
                            </div>
                            <div class="ctrCheckbox--unit__item">
                                <input type="checkbox" id="c18" name="cc">
                                <label for="c18">
                                    <span></span>
                                    <b class="ctrCheckbox--unit__title">кенгурятник</b>
                                </label>
                            </div>
                            <div class="ctrCheckbox--unit__item">
                                <input type="checkbox" id="c19" name="cc">
                                <label for="c19">
                                    <span></span>
                                    <b class="ctrCheckbox--unit__title">спойлер</b>
                                </label>
                            </div>
                            <div class="ctrCheckbox--unit__item">
                                <input type="checkbox" id="c20" name="cc">
                                <label for="c20">
                                    <span></span>
                                    <b class="ctrCheckbox--unit__title">Открытый</b>
                                </label>
                            </div>
                        </div>

                        <div class="col-md-6 ctrLinks--unit__ul-container">
                            <div class="ctrCheckbox--unit__item">
                                <input type="checkbox" id="c21" name="cc">
                                <label for="c21">
                                    <span></span>
                                    <b class="ctrCheckbox--unit__title">панорамная крыша</b>
                                </label>
                            </div>
                            <div class="ctrCheckbox--unit__item">
                                <input type="checkbox" id="c22" name="cc">
                                <label for="c22">
                                    <span></span>
                                    <b class="ctrCheckbox--unit__title">кенгурятник</b>
                                </label>
                            </div>
                            <div class="ctrCheckbox--unit__item">
                                <input type="checkbox" id="c23" name="cc">
                                <label for="c23">
                                    <span></span>
                                    <b class="ctrCheckbox--unit__title">спойлер</b>
                                </label>
                            </div>
                            <div class="ctrCheckbox--unit__item">
                                <input type="checkbox" id="c24" name="cc">
                                <label for="c24">
                                    <span></span>
                                    <b class="ctrCheckbox--unit__title">Открытый</b>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="col-md-4 col-sm-5 _well">
                <aside class="_aside hidden-xs">
                    <div class="aside__item">
                        <img class="img-responsive" src="imgs/banner2.jpg" alt="">
                    </div>
                </aside>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8 col-sm-6 _well">
                <div class="map unitWrapper">

                    <header class="map__header">
                        <div class="ctrLinks--unit">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="ctrLinks--unit__title">Страна</div>
                                </div>
                                <div class="col-md-5 ctrLinks--unit__ul-container">
                                    <div class="ctrSelect">
                                        <footer class="ctrSelect__footer">
                                            <select class="ctrSelect__default--forComment" name="offered_id">
                                                <option value=""></option>
                                                <option value="101">Kawasaki versus '2014</option>
                                                <option value="102">BMW m200 '2010</option>
                                                <option value="103">Nissan Patrol '2010</option>
                                            </select>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ctrLinks--unit">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="ctrLinks--unit__title">Город</div>
                                </div>
                                <div class="col-md-5 ctrLinks--unit__ul-container">
                                    <div class="ctrSelect">
                                        <footer class="ctrSelect__footer">
                                            <select class="ctrSelect__default--forComment" name="offered_id">
                                                <option value=""></option>
                                                <option value="101">Kawasaki versus '2014</option>
                                                <option value="102">BMW m200 '2010</option>
                                                <option value="103">Nissan Patrol '2010</option>
                                            </select>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>

                    <footer class="map__body">
                        <div class="map__loader" id="map" style="height: 300px"></div>
                    </footer>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 _well">
                <form class="photo-add">
                    <header class="photo-add__header">
                        <h4 class="photo-add__title">Фотографии</h4>
                    </header>
                    <div class="photo-add__body">
                        <ul class="photo-add__ul">
                            <li class="photo-add__item">
                                <a href="#">
                                    <img class="img-responsive" src="imgs/2-200x150.jpg" alt="" />
                                </a>
                            </li>
                            <li class="photo-add__item">
                                <a href="#">
                                    <img class="img-responsive" src="imgs/3-200x150.jpg" alt="" />
                                </a>
                            </li>
                            <li class="photo-add__item">
                                <a href="#">
                                    <img class="img-responsive" src="imgs/4-200x150.jpg" alt="" />
                                </a>
                            </li>
                            <li class="photo-add__item">
                                <a href="#">
                                    <img class="img-responsive" src="imgs/5-200x150.jpg" alt="" />
                                </a>
                            </li>
                            <li class="photo-add__item">
                                <a href="#">
                                    <img class="img-responsive" src="imgs/6-200x150.jpg" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <footer class="photo-add__footer">
                        <input href="addNewAd.html" class="b-btn b-btn--blue photo-add__addBtn hidden-xs" type="submit" value="Загрузить фото" />
                        <input class="photo-add__addFileBtn" type="file" />
                        <p class="photo-add__footer-title ctrLinks--unit-comment__desc">
                            Фотографии формата jpeg или png, не более 5Mb. До 6 фото - бесплатно, если хотите загрузить больше фотографий, воспользуйтесь
                            услугой в нашем
                            <a href="/">личном кабинете</a>
                        </p>
                    </footer>
                </form>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-8">

                <div class="unitWrapper">
                    <!--<div class="ctrValue--unit-spread">
                            <footer class="ctrValue--unit-spread__footer">
                                <div class="ctrValue--unit-spread__item-title"><b>Укажите ваш e-mail <span class="ctrValue__asterics">*</span></b></div>
                                <input class="ctrValue--unit-spread__item-input" type="text" placeholder="e-mail..." name="price">
                            </footer>
                        </div> -->


                    <div class="row">
                        <div class="ctrValue--unit">
                            <footer class="ctrValue--unit__footer">
                                <div class="col-md-3 ctrValue--unit__item-title">
                                    <b>Укажите ваш e-mail
                                        <span class="ctrValue__asterics">*</span>
                                    </b>
                                </div>
                                <input class="col-md-9 ctrValue--unit__item-input" type="text" placeholder="e-mail..." name="price">
                            </footer>
                        </div>
                    </div>


                    <div class="ctrLinks--unit-comment">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="ctrLinks--unit-comment__title">Кто может комментирвоать объявления</div>
                            </div>
                            <div class="col-md-8 ctrLinks--unit-comment__container">
                                <div class="ctrSelect">
                                    <footer class="ctrSelect__footer">
                                        <select class="ctrSelect__default--forComment" name="offered_id">
                                            <option value="101">Все могут комментировать</option>
                                            <option value="102">Могут комментировать толко зарегистрированные пользователи</option>
                                            <option value="103">Никто не может комментировать</option>
                                        </select>
                                    </footer>
                                    <mark class="ctrLinks--unit-comment__desc">
                                        Включенные комментарии позволяют вам общаться с наиболее робкими покупателями, которые боятся позвонить. Больше комментариев
                                        по делу вы получите от зарегистрированных пользователей. Выключенные комментарии
                                        не позволяют общаться с покупателями на сайте.
                                    </mark>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="ctrValue--unit">
                        <footer class="ctrValue--unit__footer">
                            <div class="col-md-3 ctrValue--unit__item-title">
                                <b>Ваш телефон
                                    <span class="ctrValue__asterics">*</span>
                                </b>
                            </div>
                            <div class="col-md-6">
                                <input class="ctrValue--unit-spread__item-input" type="text" placeholder="+7(909)000-00-00" name="price">
                                <input class="ctrValue--unit-spread__item-input" type="text" placeholder="" name="price">
                                <input class="ctrValue--unit-spread__item-input" type="text" placeholder="" name="price">
                                <button class="b-btn b-btn--blue hidden-xs">
                                    <i class="fa fa-plus"></i> Добавить телефон
                                </button>
                            </div>
                        </footer>
                    </div>
                </div>

            </div>
            <div class="col-md-4 ctrTextarea">
                <p class="ctrTextarea__title">
                    Ваше сообщение
                </p>
                <textarea class="ctrTextarea__input" rows="10" cols=""></textarea>
                <mark class="ctrLinks--unit-comment__desc">
                    Максимальная длина текста 2000 символов. Осталось 2000.
                </mark>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-8 unitWrapper">
                <button href="addNewAd.html" class="b-btn b-btn--blue b-btn--blue-spread">
                    Продать
                </button>
            </div>
            <div class="col-md-4">
                <!--<button href="addNewAd.html" class="b-btn b-btn--gray-spread">
                        Предварительный просмотр
                    </button>-->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <mark class="ctrLinks--unit-comment__desc">
                    Вы можете подать бесплатно до 10 объявлений в неделю на один номер телефона в одну рубрику. Каждое объявление сверх этого
                    количества потребует либо использования услуги личного кабинета «Публиковать объявление» стоимостью 45
                    единиц, либо отправки sms-сообщения за 100 тенге. Удаление любого ранее поданного объявления никак не
                    влияет на недельный лимит.
                </mark>
            </div>
        </div>
        <br />

    </div>
</section>