<!--breadScrumbs-->

<header class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="breadScrumbs">
                <ul class="breadScrumbs__ul">
                    <li class="breadScrumbs__item">
                        <a class="breadScrumbs__link" href="/">Главная</a>
                    </li>
                    <li class="breadScrumbs__item">
                        <a class="breadScrumbs__link" href="/">Наземная техника</a>
                    </li>
                    <li class="breadScrumbs__item">
                        <a class="breadScrumbs__link" href="/">Мотоциклы</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</header>



<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-7">

            <article class="cardItem" itemscope itemtype="http://schema.org/Car">
                <div class="row cardItem__price-row">
                    <div class="col-md-8">
                        <h1 class="cardItem__title" itemprop="name">Kawasaki versus '2014
                            <meta itemprop="brand" content="Kawasaki" />
                            <a href="#" class="cardItem__price" data-toggle="tooltip" data-placement="bottom" data-html="true" title='<ul>
                                            <li class="cardItem__price-inside">6 000 000 ₸</li>
                                            <li class="cardItem__price-inside">~ 1 200 000 ₽</li>
                                            <li class="cardItem__price-inside">~ 16 000 $</li>
                                            <li class="cardItem__price-inside">~ 8 800 €</li>
                                        </ul>' itemscope itemtype="http://schema.org/Offer" itemprop="offers">
                                6 000 000 ₸&nbsp;
                                <i class="fa fa-caret-down"></i>

                                <!--Offers-->
                                <span>
                                    <meta itemprop="price" content="6000000" />
                                    <meta itemprop="priceCurrency" content="₸" />
                                </span>
                                <span>
                                    <meta itemprop="price" content="1200000" />
                                    <meta itemprop="priceCurrency" content="₽" />
                                </span>
                                <span>
                                    <meta itemprop="price" content="16000" />
                                    <meta itemprop="priceCurrency" content="$" />
                                </span>
                                <span>
                                    <meta itemprop="price" content="8800" />
                                    <meta itemprop="priceCurrency" content="€" />
                                </span>
                                <span itemprop="areaServed" itemscope itemtype="http://schema.org/AdministrativeArea">
                                    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                        <meta itemprop="addressLocality" content="Россия" />
                                        <meta itemprop="addressRegion" content="Подмосковье" />
                                        <meta itemprop="streetAddress" content="Бутово 20" />
                                    </span>
                                </span>
                                <span itemprop="offeredBy" itemscope itemtype="http://schema.org/Person">
                                    <meta itemprop="telephone" content="+77073300000" />
                                </span>

                                <!--end Offers-->
                            </a>
                        </h1>
                    </div>
                    <div class="col-md-4">
                        <span class="cardItem__date">13.12.2016</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a class="otherProduct__linkItem" href="/">
                            <span class="badge">243</span> Просмотра
                        </a>
                        <a class="otherProduct__linkItem" href="/">Москва</a>
                        <a class="otherProduct__linkItem" href="/">Мотоцикл</a>
                        <a class="otherProduct__linkItem" href="/">Новый, без пробега</a>
                    </div>
                </div>

                <div class="row cardItem__photo-row">
                    <div class="col-md-6">
                        <div class="cardItem__viewCount-row">
                            <small class="cardItem__additional">
                                <span class="cardItem__additional-item">
                                    <a href="#">
                                        <i class="fa fa-star"></i> В избранное</a>
                                </span>
                                <span>&nbsp;</span>
                                <span class="cardItem__additional-item">
                                    <a href="#">
                                        <i class="fa fa-retweet"></i> Добавить к сравнению</a>
                                </span>
                            </small>
                        </div>
                        <div class="cardItem__imgContainer">
                            <figure class="cardItem__imgBg">
                                <a class="fancybox" data-img-value="1" rel="fancybox-thumb" href="imgs/Card/large/1-full.jpg" title="Kawasaki versus '2014">
                                    <img itemprop="image" class="cardItem__img img-responsive" data-adaptive-background src="../Arrba/imgs/Card/middle/1-400x300.jpg"
                                        alt="">
                                </a>
                                <a class="fancybox" data-img-value="2" rel="fancybox-thumb" href="imgs/Card/large/2-full.jpg" title="Kawasaki versus '2014">
                                    <!--<img class="cardItem__img img-responsive" data-adaptive-background src="../Arrba/imgs/Card/middle/2-400x300.jpg"  style="display:none;" alt="">-->
                                </a>
                                <a class="fancybox" data-img-value="3" rel="fancybox-thumb" href="imgs/Card/large/3-full.jpg" title="Kawasaki versus '2014">
                                    <!--<img class="cardItem__img img-responsive" data-adaptive-background src="../Arrba/imgs/Card/middle/3-400x300.jpg" style="display:none;" alt="">-->
                                </a>
                                <a class="fancybox" data-img-value="8" rel="fancybox-thumb" href="imgs/Card/large/8-full.jpg" title="Kawasaki versus '2014">
                                    <!--<img class="cardItem__img img-responsive" data-adaptive-background src="../Arrba/imgs/Card/middle/5-400x300.jpg" style="display:none;" alt="">-->
                                </a>
                                <a class="fancybox" data-img-value="5" rel="fancybox-thumb" href="imgs/Card/large/5-full.jpg" title="Kawasaki versus '2014">
                                    <!--<img class="cardItem__img img-responsive" data-adaptive-background src="../Arrba/imgs/Card/middle/5-400x300.jpg" style="display:none;" alt="">-->
                                </a>
                                <a class="fancybox" data-img-value="6" rel="fancybox-thumb" href="imgs/Card/large/6-full.jpg" title="Kawasaki versus '2014">
                                    <!--<img class="cardItem__img img-responsive" data-adaptive-background src="../Arrba/imgs/Card/middle/6-400x300.jpg" style="display:none;" alt="">-->
                                </a>

                            </figure>
                            <div class="cardItem__imgContainer-small">
                                <div class="cardItem__imgSmall active">
                                    <img class="img-responsive" data-img-value="1" src="../Arrba/imgs/Card/small/1-60x45.jpg" alt="">
                                </div>
                                <div class="cardItem__imgSmall">
                                    <img class="img-responsive" data-img-value="2" src="../Arrba/imgs/Card/small/2-60x45.jpg" alt="">
                                </div>
                                <div class="cardItem__imgSmall">
                                    <img class="img-responsive" data-img-value="3" src="../Arrba/imgs/Card/small/3-60x45.jpg" alt="">
                                </div>
                                <div class="cardItem__imgSmall">
                                    <img class="img-responsive" data-img-value="8" src="../Arrba/imgs/Card/small/8-60x45.jpg" alt="">
                                </div>
                                <div class="cardItem__imgSmall">
                                    <img class="img-responsive" data-img-value="5" src="../Arrba/imgs/Card/small/5-60x45.jpg" alt="">
                                </div>
                                <div class="cardItem__imgMap" data-toggle="modal tooltip" data-target="#MapModal">
                                    <img class="img-responsive" src="../Arrba/Content/imgs/Others/mini_map3.jpg" data-toggle="tooltip" data-placement="top" title="Чтобы все ваши объявление отображались перейдите пожалуйста по ссылке"
                                    />
                                </div>
                            </div>

                            <div class="cardItem__whereMoreImgs-container">
                                <span class="starRating">
                                    <input id="rating5" type="radio" name="rating" value="5">
                                    <label for="rating5">5</label>
                                    <input id="rating4" type="radio" name="rating" value="4">
                                    <label for="rating4">4</label>
                                    <input id="rating3" type="radio" name="rating" value="3">
                                    <label for="rating3">3</label>
                                    <input id="rating2" type="radio" name="rating" value="2" checked>
                                    <label for="rating2">2</label>
                                    <input id="rating1" type="radio" name="rating" value="1">
                                    <label for="rating1">1</label>
                                </span>
                                <!--<i class="fa fa-question-circle"></i>-->
                                <a href="/" class="cardItem__whereMoreImgs">
                                    <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Чтобы все ваши объявление отображались перейдите пожалуйста по ссылке"></i>&nbsp; Где еще 6 фото
                                </a>

                            </div>
                            <div class="cardItem__whereMoreImgs-info">
                                Подходящие запчастиПодходящие запчастиПодходящие запчастиПодходящие запчасти
                            </div>
                        </div>

                        <div class="cardItem__btns">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 cardItem__simularToolsBtn">
                                    <a href="/" class="b-btn b-btn--gray-spread">
                                        Подходящие запчасти
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 cardItem__simularAdbtn">
                                    <a href="/" class="b-btn b-btn--blue-spread">
                                        Похожие объявления
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <table class="cardItem__tbl" itemprop="additionalProperty" itemscope itemtype="http://schema.org/PropertyValue">
                            <tr>
                                <td class="cardItem__tbl-title" itemprop="name">Тип двигателя</td>
                                <td class="cardItem__tbl-value" itemprop="value">1-цилиндровый, 4-тактный</td>
                            </tr>
                            <tr>
                                <td class="cardItem__tbl-title" itemprop="name">Объём двигателя</td>
                                <td class="cardItem__tbl-value" itemprop="value">200 см3</td>
                            </tr>
                            <tr>
                                <td class="cardItem__tbl-title" itemprop="name">Мощность двигателя</td>
                                <td class="cardItem__tbl-value" itemprop="value">14 л.с. при 8000 об.мин</td>
                            </tr>
                            <tr>
                                <td class="cardItem__tbl-title" itemprop="name">Пит охлаждения</td>
                                <td class="cardItem__tbl-value" itemprop="value">Жидкое</td>
                            </tr>
                            <tr>
                                <td class="cardItem__tbl-title" itemprop="name">Система запуска</td>
                                <td class="cardItem__tbl-value" itemprop="value">Электростартёр, кик-стартёр</td>
                            </tr>
                            <tr>
                                <td class="cardItem__tbl-title" itemprop="name">Трасписсия</td>
                                <td class="cardItem__tbl-value" itemprop="value">Миханическая (1-N-2-3-4-5)</td>
                            </tr>
                            <tr>
                                <td class="cardItem__tbl-title" itemprop="name">Топливный бак</td>
                                <td class="cardItem__tbl-value" itemprop="value">17 литров (А и 92, Аи 95)</td>
                            </tr>
                            <tr>
                                <td class="cardItem__tbl-title" itemprop="name">Макс. скорость</td>
                                <td class="cardItem__tbl-value" itemprop="value">110км/ч</td>
                            </tr>
                            <tr>
                                <td class="cardItem__tbl-title" itemprop="name">Масса</td>
                                <td class="cardItem__tbl-value" itemprop="value">120кг</td>
                            </tr>
                            <tr>
                                <td class="cardItem__tbl-title" itemprop="name">Грузоподъёмность</td>
                                <td class="cardItem__tbl-value" itemprop="value">130 кг</td>
                            </tr>
                            <tr>
                                <td class="cardItem__tbl-title" itemprop="name">Передний тормоз</td>
                                <td class="cardItem__tbl-value" itemprop="value">Дисковый</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <footer class="cardItem__prop-footer">
                    <p class="cardItem__phone">
                        <span class="cardItem__phoneNum">Телефон: +7(937...)</span>
                        <span class="cardItem__showPhone">
                            <a href="/">Показать телефон</a>
                        </span>
                    </p>
                    <p class="cardItem__text" itemprop="description">литые диски, тонировка, люк, спойлер, рейлинги, ксенон, биксенон, хрустальная оптика, линзованная оптика,
                        дневные ходовые огни, противотуманки, корректор фар, обогрев зеркал, велюр, комбинированный, аудиосистема,
                        встроенный телефон
                        <hr />
                        <div class="cardItem__description">
                            bluetooth, CD, MP3, USB, DVD, ГУР, ABS, SRS, зимний режим, спортивный режим, сигнализация, автозапуск, полный электропакет,
                            центрозамок, кондиционер, климат-контроль, круиз-контроль, бортовой компьютер, мультируль, подогрев
                            сидений, память сидений, память руля, парктроники, датчик света, датчик дождя, датчик давления
                            в шинах, налог уплачен, вложений не требует
                        </div>
                    </p>
                </footer>
            </article>

            <div class="row">
                <div class="col-lg-12 fastSeller">
                    <a class="cardItem__markLink" href="/">Продайте объявление быстрее
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <div class="fastSeller__item">
                        <div class="fastSeller__body">
                            <h3 class="fastSeller__item-title">
                                <i class="fa fa-arrow-up"></i> Поднять - от 45 руб.</h3>
                            <p class="fastSeller__desc">
                                Ваше объявление поднимется наверх списка результатов поиска до конца дня. И будет уступать место лишь объявлениям, поднятым
                                после него.
                            </p>
                        </div>
                    </div>
                    <div class="fastSeller__item">
                        <div class="fastSeller__body">
                            <h3 class="fastSeller__item-title">
                                <i class="fa fa-fire"></i> В горячие - от 45 руб.</h3>
                            <p class="fastSeller__desc">
                                Ссылку на ваше объявление увидят все посетители сайта. Она будет первой в горячих предложениях, пока кто-либо не займет это
                                место.
                            </p>
                        </div>
                    </div>
                    <div class="fastSeller__item">
                        <div class="fastSeller__body">
                            <h3 class="fastSeller__item-title">
                                <i class="fa fa-bookmark"></i> Выделить «Срочно, торг» - от 35 руб.</h3>
                            <p class="fastSeller__desc">
                                Ваше объявление украсит флажок со словами «Срочно, торг».
                            </p>
                        </div>
                    </div>
                    <div class="fastSeller__item">
                        <div class="fastSeller__body">
                            <h3 class="fastSeller__item-title">
                                <i class="fa fa-paint-brush"></i> Покрасить - от 45 руб.</h3>
                            <p class="fastSeller__desc">
                                Цветное объявление намного заметнее в общем списке.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <section class="comment">
                <div class="comment__title">
                    Комментарии
                    <p class="comment__stripBottom"></p>
                </div>
                <div class="comment__commentItem">
                    <!--commentItem-->
                    <div class="commentItem">
                        <header class="commentItem__header">
                            <span class="commentItem__author-name">Николай</span>
                            <span class="commentItem__date">16 февраля 2016 в 22:56</span>
                            <a href="/" class="commentItem__answer">Ответить</a>
                            <a href="/" class="commentItem__complain">Пожаловаться</a>
                        </header>
                        <footer class="commentItem__footer">
                            <!--Offer-->
                            <div class="commentItem__offer offer">
                                <div class="offer__pin"></div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-6">
                                        <figure class="offer__img">
                                            <img class="img-responsive" src="../Arrba/imgs/4-200x150.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="col-md-10 col-sm-6">
                                        <div class="offer__content">
                                            <span class="offer__content-title-first">
                                                <i class="fa fa-refresh"></i> Предложение на обмен</span>
                                            <a href="/" class="offer__content-title">
                                                Chrysler 300C, 2008 г., 1 500 00 р
                                            </a>
                                            <div class="offer__content-text">
                                                Внедорожник, 3.7 л, бензин, КПП типтроник, 260 000 км, на ходу, коричневый, металлик, вложений не требует, за нал торг, цена
                                                указана на обмен. Налог 32 000 тенге. таким и останется после переоформлени...
                                            </div>
                                            <p class="offer__content-region">
                                                <i class="fa fa-map-marker"></i>&nbsp;Москва</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="commentItem__text">
                                Доброго вермени суток! Предлагаю машинешку за Ваш драндулет, с моей доплатой 1 000 000 рублей. И 15 соток участок в п. Быково.
                            </p>
                            <div class="commentItem">
                                <header class="commentItem__header">
                                    <span class="commentItem__author-name">
                                        Иван
                                        <small class="commentItem__for">для</small> Николай
                                        <i class="commentItem__arrow"></i>
                                    </span>
                                    <span class="commentItem__date">16 февраля 2016 в 22:56</span>
                                    <a href="/" class="commentItem__answer">Ответить</a>
                                    <a href="/" class="commentItem__complain">Пожаловаться</a>
                                </header>
                                <footer class="commentItem__footer">
                                    <p class="commentItem__text">готов рассмотреть Ваше предложение елси сумма доплаты будет 1 500 000 рублей и участно
                                        не нужен.</p>
                                    <!--Answer form -->
                                    <div class="commentItem__InternalComment active">
                                        <form method="POST">
                                            <input type="hidden" name="adId" value="126">
                                            <input type="hidden" name="replyTo" value="23151">
                                            <div class="ctrSelect">
                                                <header class="ctrSelect__title--forComment">
                                                    Иван, предложите обмен
                                                    <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Если у Вас есть свои объявления, Вы можете предложить обмен"></i>
                                                </header>
                                                <footer class="ctrSelect__footer">
                                                    <select class="ctrSelect__default--forComment" name="offered_id">
                                                        <option value=""></option>
                                                        <option value="101">Kawasaki versus '2014</option>
                                                        <option value="102">BMW m200 '2010</option>
                                                        <option value="103">Nissan Patrol '2010</option>
                                                    </select>
                                                </footer>
                                            </div>
                                            <textarea class="comment-form__control comment-form__control--area" name="msg-internal" placeholder="Ваше сообщение..." rows="6"
                                                role="textbox"></textarea>
                                            <div class="comment-form__btn">
                                                <a href="ShowAdList.html" class="b-btn b-btn--blue b-btn--comment" type="submit">
                                                    Ответить
                                                </a>
                                                <a href="ShowAdList.html" class="b-btn b-btn--gray-spread b-btn--comment" type="submit">
                                                    Отмена
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </footer>
                            </div>
                            <div class="commentItem">
                                <header class="commentItem__header">
                                    <span class="commentItem__author-name">
                                        Ксения
                                        <small class="commentItem__for">для</small> Николай
                                        <i class="commentItem__arrow"></i>
                                    </span>
                                    <span class="commentItem__date">16 февраля 2016 в 22:56</span>
                                    <a href="/" class="commentItem__answer">Ответить</a>
                                    <a href="/" class="commentItem__complain">Пожаловаться</a>
                                </header>
                                <footer class="commentItem__footer">
                                    <!--Offer-->
                                    <div class="commentItem__offer offer">
                                        <div class="offer__pin"></div>
                                        <div class="row">
                                            <div class="col-md-2 col-sm-6">
                                                <figure class="offer__img">
                                                    <img class="img-responsive" src="../Arrba/imgs/4-200x150.jpg" alt="">
                                                </figure>
                                            </div>
                                            <div class="col-md-10 col-sm-6">
                                                <div class="offer__content">
                                                    <span class="offer__content-title-first">
                                                        <i class="fa fa-refresh"></i> Предложение на обмен</span>
                                                    <a href="/" class="offer__content-title">
                                                        Chrysler 300C, 2008 г., 1 500 00 р
                                                    </a>
                                                    <div class="offer__content-text">
                                                        Пилорама рамная Р63-4Б в отличном техническом состоянии, высокая производительность. Станок для заточки пил. Хорошая лебедка.
                                                        Готовый бизнес. Пилорама новая распилил один вагон. Стоит нет леса.
                                                        При же...
                                                    </div>
                                                    <p class="offer__content-region">
                                                        <i class="fa fa-map-marker"></i>&nbsp;Москва</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="commentItem__text">Здравстуйте))) А я предлагаю свой драндулет)) И натурой в течение часа)))</p>
                                </footer>
                            </div>

                            <div class="commentItem">
                                <header class="commentItem__header">
                                    <span class="commentItem__author-name">
                                        Николай
                                        <small class="commentItem__for"> для</small> Ксения
                                        <i class="commentItem__arrow"></i>
                                    </span>
                                    <span class="commentItem__date">16 февраля 2016 в 22:56</span>
                                    <a href="/" class="commentItem__answer">Ответить</a>
                                    <a href="/" class="commentItem__complain">Пожаловаться</a>
                                </header>
                                <footer class="commentItem__footer">
                                    <p class="commentItem__text">Спасибо, не интересует</p>
                                </footer>
                            </div>

                        </footer>
                    </div>
                    <hr/>
                    <!--commentItem-->
                    <div class="commentItem">
                        <header class="commentItem__header">
                            <span class="commentItem__author-name">Анастасия</span>
                            <span class="commentItem__date">16 февраля 2016 в 22:56</span>
                            <a href="/" class="commentItem__answer">Ответить</a>
                            <a href="/" class="commentItem__complain">Пожаловаться</a>
                        </header>
                        <footer class="commentItem__footer">
                            <p class="commentItem__text">вариант на ауди а6 2003 года обьем 3,0 литра + 4000 тыс. если заинтересует мой номер 87755205050</p>

                            <div class="commentItem">
                                <header class="commentItem__header">
                                    <span class="commentItem__author-name">
                                        Иван
                                        <small class="commentItem__for"> для</small> Анастасия
                                        <i class="commentItem__arrow"></i>
                                    </span>
                                    <span class="commentItem__date">16 февраля 2016 в 22:56</span>
                                    <a href="/" class="commentItem__answer">Ответить</a>
                                    <a href="/" class="commentItem__complain">Пожаловаться</a>
                                </header>
                                <footer class="commentItem__footer">
                                    <p class="commentItem__text">нет спасибо. Удачной продажи</p>
                                </footer>
                            </div>
                        </footer>
                    </div>
                </div>
            </section>

            <section class="comment-form">
                <header class="row">
                    <div class="col-md-12">
                        <div class="comment-form__title">Написать продавцу</div>
                    </div>
                </header>
                <div class="row">
                    <div class="col-md-6">
                        <label class="comment-form__lbl" for="">Ваше имя</label>
                        <input class="comment-form__control" type="text" name="name" value="" />
                    </div>
                    <div class="col-md-6">
                        <label class="comment-form__lbl" for="">Ваш e-mail</label>
                        <input class="comment-form__control" type="text" name="name" value="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form method="POST">
                            <input type="hidden" name="adId" value="126">
                            <input type="hidden" name="replyTo" value="23151">

                            <div class="ctrSelect">
                                <header class="ctrSelect__title--forComment">
                                    Иван, предложите обмен
                                    <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Если у Вас есть свои объявления, Вы можете предложить обмен"></i>
                                </header>
                                <footer class="ctrSelect__footer">
                                    <select class="ctrSelect__default--forComment" name="offered_id">
                                        <option value=""></option>
                                        <option value="101">Kawasaki versus '2014</option>
                                        <option value="102">BMW m200 '2010</option>
                                        <option value="103">Nissan Patrol '2010</option>
                                    </select>
                                </footer>
                            </div>

                            <!--<label for="">Сообщение</label>-->
                            <textarea class="comment-form__control comment-form__control--area" name="msg" rows="6" placeholder="Введите сообщение..."></textarea>
                        </form>
                    </div>
                </div>
                <footer class="row">
                    <div class="col-md-12">
                        <span class="comment-form__agreement">
                            <i>*</i> Оставляя комментарий, Вы соглашаетесь с нашими
                            <a href="#">правилами</a>
                        </span>
                        <a href="ShowAdList.html" class="b-btn b-btn--blue" type="submit">
                            Оставить комментарий
                        </a>
                    </div>
                </footer>
            </section>

            <hr>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-5">
            <aside class="aside hidden-xs">
                <div class="aside__item">
                    <div class="news-block">
                        <header class="news-block__header">
                            <a class="news-block__title">
                                Новости
                            </a>
                            <a href="#" class="news-block__all-news">
                                <i class="fa fa-reorder"></i> Все новости</a>
                        </header>
                        <hr />
                        <section class="news-block__body news-block__news-item">
                            <article class="news-item">
                                <div class="row">
                                    <div class="col-lg-5 col-lg-5 col-md-5 col-sm-6 hidden-md hidden-sm">
                                        <a target="blank" href="http://news.katrus.kz/2016/03/22/moscow_race/">
                                            <img class="news-item__img img-responsive" src="../Arrba/Content/Imgs/news/news_img1.jpg" alt=""> </a>
                                    </div>
                                    <div class="col-lg-7 col-md-12 ccol-md-12 col-sm-12 news-item__bodyol-sm-12 news-item__body">
                                        <a target="blank" href="http://news.katrus.kz/2016/03/22/moscow_race/" class="news-item__text">
                                            В этом тексте будет всегда сорок символов... </a>
                                        <div class="news-item__date">
                                            <small>25 апрель 2016</small>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="news-item">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-6 hidden-md hidden-sm">
                                        <a target="blank" href="http://news.katrus.kz/2016/03/22/speed_boat_race_monako/">
                                            <img class="news-item__img img-responsive" src="../Arrba/Content/Imgs/news/news_img2.jpg" alt=""> </a>
                                    </div>
                                    <div class="col-lg-7 col-md-12 ccol-md-12 col-sm-12 news-item__bodyol-sm-12 news-item__body">
                                        <a target="blank" href="http://news.katrus.kz/2016/03/22/speed_boat_race_monako/" class="news-item__text"> В этом тексте будет всегда сорок символов... </a>
                                        <div class="news-item__date">
                                            <small>25 апрель 2016</small>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="news-item">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-6 hidden-md hidden-sm">
                                        <a target="blank" href="http://news.katrus.kz/2016/03/22/winter_end_its_time_to_rest/">
                                            <img class="news-item__img img-responsive" src="../Arrba/Content/Imgs/news/news_img3.jpg" alt=""> </a>
                                    </div>
                                    <div class="col-lg-7 col-md-12 ccol-md-12 col-sm-12 news-item__bodyol-sm-12 news-item__body">
                                        <a target="blank" href="http://news.katrus.kz/2016/03/22/winter_end_its_time_to_rest/" class="news-item__text"> В этом тексте будет всегда сорок символов... </a>
                                        <div class="news-item__date">
                                            <small>25 апрель 2016</small>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="news-item">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-6 hidden-md hidden-sm">
                                        <a target="blank" href="http://news.katrus.kz/2016/03/22/adventure_on_altay/">
                                            <img class="news-item__img img-responsive" src="../Arrba/Content/Imgs/news/news_img4.jpg" alt=""> </a>
                                    </div>
                                    <div class="col-lg-7 col-md-12 ccol-md-12 col-sm-12 news-item__bodyol-sm-12 news-item__body">
                                        <a target="blank" href="http://news.katrus.kz/2016/03/22/adventure_on_altay/" class="news-item__text">
                                            В этом тексте будет всегда сорок символов... </a>
                                        <div class="news-item__date">
                                            <small>25 апрель 2016</small>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="news-item">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-6 hidden-md hidden-sm">
                                        <a href="http://news.katrus.kz/2016/03/22/offroad_moto/">
                                            <img class="news-item__img img-responsive" src="../Arrba/Content/Imgs/news/news_img5.jpg" alt=""> </a>
                                    </div>
                                    <div class="col-lg-7 col-md-12 ccol-md-12 col-sm-12 news-item__bodyol-sm-12 news-item__body">
                                        <a href="http://news.katrus.kz/2016/03/22/offroad_moto/" class="news-item__text">
                                            В этом тексте будет всегда сорок символов... </a>
                                        <div class="news-item__date">
                                            <small>25 апрель 2016</small>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                    <hr />
                    <img class="img-responsive" src="../Arrba/imgs/banner2.jpg" alt="">
                </div>
            </aside>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-8">
            <article class="otherProduct">
                <header class="otherProduct__header">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="otherProduct__title">Похожие предложения</h2>
                        </div>
                        <div class="col-md-6 text-right">
                            <span class="otherProduct__toGoList">
                                <a href="/">
                                    <i class="otherProduct__icon fa fa-list"></i>&nbsp;Перейти к разделу</a>
                            </span>
                        </div>
                    </div>
                </header>
                <hr>
                <div class="otherProduct__hot-body hot__body">
                    <div class="hot__grid--noCenter">
                        <div class="hot__item hot__grid-item">
                            <header class="hot__item-header">
                                <span class="hot__item-name">
                                    <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                                <span class="hot__item-imgCount">2&nbsp;
                                    <i class="fa fa-camera"></i>
                                </span>
                            </header>
                            <a href="/">
                                <img src="../Arrba/imgs/otherProduct/1-120x90.jpg" alt="">
                            </a>
                            <footer class="hot__item-footer">
                                <span class="hot__item-city">
                                    <i class="fa fa-map-marker"></i>
                                    &nbsp;Санкт-Перербург,
                                    <span class="hot__item-price">1 500 000₸</span>, что-то еще
                                </span>
                            </footer>
                        </div>
                        <div class="hot__item hot__grid-item">
                            <header class="hot__item-header">
                                <span class="hot__item-name">
                                    <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                                <span class="hot__item-imgCount">2&nbsp;
                                    <i class="fa fa-camera"></i>
                                </span>
                            </header>
                            <a href="/">
                                <img src="../Arrba/imgs/otherProduct/5-120x90 (1).jpg" alt="">
                            </a>
                            <footer class="hot__item-footer">
                                <span class="hot__item-city">
                                    <i class="fa fa-map-marker"></i>
                                    &nbsp;Санкт-Перербург,
                                    <span class="hot__item-price">1 500 000₸</span>, что-то еще
                                </span>
                            </footer>
                        </div>
                        <div class="hot__item hot__grid-item">
                            <header class="hot__item-header">
                                <span class="hot__item-name">
                                    <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                                <span class="hot__item-imgCount">2&nbsp;
                                    <i class="fa fa-camera"></i>
                                </span>
                            </header>
                            <a href="/">
                                <img src="../Arrba/imgs/otherProduct/5-120x90.jpg" alt="">
                            </a>
                            <footer class="hot__item-footer">
                                <span class="hot__item-city">
                                    <i class="fa fa-map-marker"></i>
                                    &nbsp;Санкт-Перербург,
                                    <span class="hot__item-price">1 500 000₸</span>, что-то еще
                                </span>
                            </footer>
                        </div>
                        <div class="hot__item hot__grid-item">
                            <header class="hot__item-header">
                                <span class="hot__item-name">
                                    <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                                <span class="hot__item-imgCount">2&nbsp;
                                    <i class="fa fa-camera"></i>
                                </span>
                            </header>
                            <a href="/">
                                <img src="../Arrba/imgs/otherProduct/11-120x90.jpg" alt="">
                            </a>
                            <footer class="hot__item-footer">
                                <span class="hot__item-city">
                                    <i class="fa fa-map-marker"></i>
                                    &nbsp;Санкт-Перербург,
                                    <span class="hot__item-price">1 500 000₸</span>, что-то еще
                                </span>
                            </footer>
                        </div>
                        <div class="hot__item hot__grid-item">
                            <header class="hot__item-header">
                                <span class="hot__item-name">
                                    <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                                <span class="hot__item-imgCount">2&nbsp;
                                    <i class="fa fa-camera"></i>
                                </span>
                            </header>
                            <a href="/">
                                <img src="../Arrba/imgs/otherProduct/31-120x90.jpg" alt="">
                            </a>
                            <footer class="hot__item-footer">
                                <span class="hot__item-city">
                                    <i class="fa fa-map-marker"></i>
                                    &nbsp;Санкт-Перербург,
                                    <span class="hot__item-price">1 500 000₸</span>, что-то еще
                                </span>
                            </footer>
                        </div>
                        <div class="hot__item hot__grid-item">
                            <header class="hot__item-header">
                                <span class="hot__item-name">
                                    <i class="fa fa-car"></i>&nbsp;Nissan Pathfinder</span>
                                <span class="hot__item-imgCount">2&nbsp;
                                    <i class="fa fa-camera"></i>
                                </span>
                            </header>
                            <a href="/">
                                <img src="../Arrba/imgs/11-200x150.jpg" alt="">
                            </a>
                            <footer class="hot__item-footer">
                                <span class="hot__item-city">
                                    <i class="fa fa-map-marker"></i>
                                    &nbsp;Санкт-Перербург,
                                    <span class="hot__item-price">1 500 000₸</span>, что-то еще
                                </span>
                            </footer>
                        </div>
                    </div>
                </div>
                <footer class="otherProduct__footer">
                    <a class="otherProduct__linkItem" href="/">Запчасти
                        <span class="otherProduct__linkItem-icon">1</span>
                    </a>
                    <a class="otherProduct__linkItem" href="/">Аккамуляторы
                        <span class="otherProduct__linkItem-icon">12</span>
                    </a>
                    <a class="otherProduct__linkItem" href="/">Шины и диски
                        <span class="otherProduct__linkItem-icon">3</span>
                    </a>
                    <a class="otherProduct__linkItem" href="/">Corporis.
                        <span class="otherProduct__linkItem-icon">152</span>
                    </a>
                    <a class="otherProduct__linkItem" href="/">Corporis.
                        <span class="otherProduct__linkItem-icon">0</span>
                    </a>
                    <a class="otherProduct__linkItem" href="/">Corporis.
                        <span class="otherProduct__linkItem-icon">85</span>
                    </a>
                </footer>
            </article>
        </div>
    </div>
</div>