<section class="login">
    <div class="wrapper-1200">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <form class="login__container">
                        <h1 class="login__title">Войдтие или
                            <a href="register.html">зарегистрируйтесь</a>
                        </h1>
                        <input class="login__control" type="email" name="email" value="" placeholder="Электронная почта...">
                        <br />
                        <input class="login__control" type="password" name="password" value="" placeholder="Укажите пароль...">
                        <br />
                        <br />
                        <input class="b-btn b-btn--blue b-btn--center" type="submit" value="Подать объявление" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>