<!--breadScrumbs-->

<header class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="breadScrumbs">
                <ul class="breadScrumbs__ul">
                    <li class="breadScrumbs__item">
                        <a class="breadScrumbs__link" href="/">Главная</a>
                    </li>
                    <li class="breadScrumbs__item">
                        <a class="breadScrumbs__link" href="/">Наземная техника</a>
                    </li>
                    <li class="breadScrumbs__item">
                        <a class="breadScrumbs__link" href="/">Мотоциклы</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>



<div class="container">
    <div class="row user-unit">
        <div class="col-md-9 col-sm-7 ui-sortable">
            <header class="ui-sortable__container">
                <ul id="sortable" class="ui-sortable__ul">
                    <li class="ui-sortable__item">
                        <!--<input  class="ui-sortable__delete-btn" type="checkbox" value="false" />-->
                        <div class="ui-sortable__delete">
                            <input type="checkbox" id="c6" name="cc">
                            <label for="c6">Удалить
                                <span></span>
                            </label>
                        </div>

                        <a href="/">
                            <img src="../Arrba/imgs/1-200x150.jpg" alt="" class="img-responsive">
                        </a>
                    </li>
                    <li class="ui-sortable__item">
                        <!--<input  class="ui-sortable__delete-btn" type="checkbox" value="false" />-->
                        <div class="ui-sortable__delete">
                            <input type="checkbox" id="c7" name="cc">
                            <label for="c7">
                                <span></span>
                            </label>
                        </div>

                        <a href="/">
                            <img src="../Arrba/imgs/1-200x150.jpg" alt="" class="img-responsive">
                        </a>
                    </li>
                    <li class="ui-sortable__item">
                        <!--<input  class="ui-sortable__delete-btn" type="checkbox" value="false" />-->
                        <div class="ui-sortable__delete">
                            <input type="checkbox" id="c8" name="cc">
                            <label for="c8">Удалить
                                <span></span>
                            </label>
                        </div>

                        <a href="/">
                            <img src="../Arrba/imgs/1-200x150.jpg" alt="" class="img-responsive">
                        </a>
                    </li>
                    <li class="ui-sortable__item">
                        <!--<input  class="ui-sortable__delete-btn" type="checkbox" value="false" />-->
                        <div class="ui-sortable__delete">
                            <input type="checkbox" id="c9" name="cc">
                            <label for="c9">Удалить
                                <span></span>
                            </label>
                        </div>

                        <a href="/">
                            <img src="../Arrba/imgs/1-200x150.jpg" alt="" class="img-responsive">
                        </a>
                    </li>

                </ul>
            </header>
            <footer class="ui-sortable__footer">
                <button class="b-btn b-btn--blue">Сохранить новое расположение</button>
            </footer>
        </div>
        <div class="col-md-3 col-sm-5 ctr-sortable">
            <!--<h4 class="user-unit__reduction-title">Редактирование</h4>                       -->

            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    <span class="progress__number">0%</span>
                </div>
            </div>

            <form action="/Room/UploadFiles" enctype="multipart/form-data" method="post" multiple="">
                <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                </div>


                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="b-btn b-btn--blue btn-file">
                        <span class="fileinput-new">Выбрать файлы</span>
                        <span class="fileinput-exists">Change</span>
                        <input id="fileSelector" type="file" name="imgs" required="" multiple="">
                    </span>
                    <span class="fileinput-filename"></span>
                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                </div>


                <button class="b-btn b-btn--blue" type="submit">
                    Загрузить фотографии
                </button>


                <br />
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <strong>Внимание!</strong> Первые шесть фотографий публикуются бесплатно. Для показа остальных воспользуйтесь
                    услугой"Показать все фотографии" на странице Мои объявления
                </div>

                <input type="hidden" name="form_async">
            </form>
            <div class="imgList">
                <div class="alert alert-success" role="alert" style="margin-bottom:5px;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> test.png
                </div>
            </div>
        </div>
    </div>
</div>