<!--breadScrumbs-->

<header class="container">
    <div class="row">
        <div class="col-md-12 _well">

            <div class="breadScrumbs">
                <ul class="breadScrumbs__ul">
                    <li class="breadScrumbs__item">
                        <a class="breadScrumbs__link" href="/">Главная</a>
                    </li>
                    <li class="breadScrumbs__item">
                        <a class="breadScrumbs__link" href="/">Наземная техника</a>
                    </li>
                    <li class="breadScrumbs__item">
                        <a class="breadScrumbs__link" href="/">Мотоциклы</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</header>

<header class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table class="_table">
                <tbody>
                    <tr>
                        <td>
                            <a class="activeLink" href="/AllCities/ru-Ru/Cabinet/Vehicle">Всего 4 объявлений по технике и авто </a>
                        </td>
                        <td> &nbsp;|&nbsp; </td>
                        <td>
                            <a href="/AllCities/ru-Ru/Cabinet/MyServices">Всего услуг 1</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</header>

<header class="container">
    <div class="row">
        <!--<div class="col-md-12"><h4>У вас на сайте 104 объявления</h4></div>-->
        <div class="col-md-12">
            <a href="/" class="otherProduct__linkItem active">На сайте 10</a>
            <a href="/" class="otherProduct__linkItem">В архиве 5</a>
        </div>
    </div>
</header>

<hr>
<header class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="otherProduct__linkItem">Все категории</a>
            <a href="#" class="otherProduct__linkItem">Продажа мототехники 52</a>
            <a href="#" class="otherProduct__linkItem">Водный транспорт 42</a>
            <a href="#" class="otherProduct__linkItem">Продажа автобусов 2</a>
            <a href="#" class="otherProduct__linkItem">Продажа спецтехники 1</a>
            <a href="#" class="otherProduct__linkItem">Praesentium.</a>
            <a href="#" class="otherProduct__linkItem">Numquam.</a>
        </div>
    </div>
</header>

<hr>
<br />
<div class="container">
    <div class="row user-unit">
        <div class="col-md-4 user-unit__item _red-n">

            <div class="user-unit__item-header">
                <h1 class="user-unit__item-title">Kawasaki versus '2014</h1>
                <span class="user-unit__item-price">1 290 000 Р</span>
                <a href="CardPage.html" class="user-unit__item-link">посмотреть на сайте</a>
                <img class="img-responsive" src="../Arrba/imgs/Card/middle/1-400x300.jpg" alt="" />
            </div>

            <div class="user-unit__item-body">
                <h4 class="user-unit__item-desc-title">Описание</h4>
                <p class="user__item-desc">
                    Давно выяснено, что при оценке дизайна и композиции 
                    читаемый текст мешает сосредоточиться. Lorem Ipsum 
                    используют потому, что тот обеспечивает более или 
                    менее стандартное заполнение
                </p>
                <h4 class="user-unit__item-desc-title">Информация</h4>
                <p>
                    <div class="user-unit__item-info"><i class="fa fa-eye"></i> 243 Просмотра</div>
                    <div class="user-unit__item-info"><i class="fa fa-link"></i> ID объявления: 645651</div>
                    <div class="user-unit__item-info"><i class="fa fa-calendar"></i> Добавлено: 15.02.2016</div>
                </p>
                <br />
                <p class="user-unit__item-desc-title--sm">Объявление истекает: 25.02.2016</p>
                <div class="ctrCheckbox--unit__item">
                    <input type="checkbox" id="c12" name="cc">
                    <label for="c12">
                        <span></span>
                        <b class="ctrCheckbox--unit__title">Продливать объявление автоматически</b>
                    </label>
                </div>
            </div>

        </div>

        <div class="col-md-5 user-unit__service">
            <!--<h4 class="user-unit__service-title">Оплата</h4>-->
            <ul class="tab">
                <li class="tab__item">
                    <a class="tab__item-link active" href="/">Оптатить с личного счета</a>
                </li>
                <li class="tab__item">
                    <a class="tab__item-link" href="/">Через SMS</a>
                </li>
            </ul>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-6">
                        <div class="service-block">
                            <i class="fa fa-clock-o service-block__icon"></i>
                            <div class="service-block__wrapper">
                                <!--<p class="service-block__msg"></p>-->
                                <p class="service-block__desc">
                                    Ваше объявление проживет на сайте 7 дней с момента продления. При проделнии можно обнулять количество просмотров объявления.
                                </p>
                                <br />
                                <div class="ctrCheckbox--unit__item">
                                    <input type="checkbox" id="c13" name="cc">
                                    <label for="c13">
                                        <span></span>
                                        <b class="ctrCheckbox--unit__title">Сбросить просмотры
                                            <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Если проставлена галочка, то при нажатии на 'продлить' просмотры обнуляются"></i>
                                        </b>
                                    </label>
                                </div>
                                <div class="service-block__btn">
                                    <a href="addNewAd.html" class="b-btn b-btn--blue">
                                        Продлить
                                    </a>
                                </div>
                                <div class="service-block__price">15 ед.</div>
                            </div>
                        </div>

                        <div class="service-block">
                            <i class="fa fa-rocket service-block__icon"></i>
                            <div class="service-block__wrapper">
                                <p class="service-block__msg">
                                    Последний раз поднималось 17.05.2016 18:16
                                </p>
                                <p class="service-block__desc">
                                    Ваше объявление поднимается наверх до конца дня и будет уступать только объявлениям, которые добавлены позже
                                </p>
                                <br />
                                <div class="service-block__btn">
                                    <a href="addNewAd.html" class="b-btn b-btn--blue">
                                        Поднять
                                    </a>
                                </div>
                                <div class="service-block__price">10 ед.</div>
                            </div>
                        </div>

                        <div class="service-block">
                            <i class="fa fa-fire service-block__icon"></i>
                            <div class="service-block__wrapper">
                                <p class="service-block__msg">
                                    Активно до 17.05.2016 18:16
                                </p>
                                <p class="service-block__desc">
                                    Ваше объявление поднимается наверх до конца дня и будет уступать только объявлениям, которые добавлены позже
                                </p>
                                <br />
                                <div class="service-block__btn">
                                    <a href="addNewAd.html" class="b-btn b-btn--blue">
                                        В горячие
                                    </a>
                                </div>
                                <div class="service-block__price">10 ед.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6 user-unit__item-body-right-col">
                        <div class="service-block">
                            <i class="fa fa-warning service-block__icon"></i>
                            <div class="service-block__wrapper">
                                <p class="service-block__desc">
                                    Ваше объявление украсит флажок со словами
                                    <span class="productItem__hot">
                                        Срочно, торг
                                    </span>. Так легче привлечь внимание покупателей.
                                </p>
                                <br />
                                <div class="service-block__btn">
                                    <a href="addNewAd.html" class="b-btn b-btn--blue">
                                        Добавить
                                    </a>
                                </div>
                                <div class="service-block__price">10 ед.</div>
                            </div>
                        </div>

                        <div class="service-block">
                            <i class="fa fa-fire service-block__icon"></i>
                            <div class="service-block__wrapper">
                                <div class="service-block__colors">
                                    <label class="service-block__colors-lbl" for="red"></label>
                                    <input id="red" type="radio" name="color" value="1" />
                                    <label class="service-block__colors-lbl" for="green"></label>
                                    <input id="green" type="radio" name="color" value="2" />
                                    <label class="service-block__colors-lbl" for="blue"></label>
                                    <input id="blue" type="radio" name="color" value="3" />
                                    <label class="service-block__colors-lbl" for="yellow"></label>
                                    <input id="yellow" type="radio" name="color" value="4" />
                                </div>
                                <p class="service-block__desc">
                                    Цветное объявление намного заметнее в общем списке
                                </p>
                                <br />
                                <div class="service-block__btn">
                                    <a href="addNewAd.html" class="b-btn b-btn--blue">
                                        Покрасить
                                    </a>
                                </div>
                                <div class="service-block__price">10 ед.</div>
                            </div>
                        </div>

                        <div class="service-block">
                            <i class="fa fa-photo service-block__icon"></i>
                            <div class="service-block__wrapper">
                                <form action="/en/Room/MorePhotos" class="getUpForm" method="post">
                                    <p class="service-block__msg">
                                        Активно
                                    </p>
                                    <p class="service-block__desc">
                                        Активируйет, чтобы показывать больше 6-ти фотографий. Ваш покупатель лучше оценит достоинства Вашего товара.
                                    </p>
                                    <br>
                                    <div class="service-block__btn">
                                        <button href="addNewAd.html" class="b-btn b-btn--blue-spread" type="submit">
                                            Больше фото
                                        </button>
                                    </div>
                                    <div class="service-block__price">65 ед.</div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>

        <div class="col-md-3 user-unit__reduction">
            <h4 class="user-unit__reduction-title">Редактирование</h4>
            <div class="user-unit__reduction-btn">
                <a href="addNewAd.html" class="b-btn b-btn--blue">
                    текст
                </a>
            </div>
            <div class="user-unit__reduction-btn">
                <a href="Photo_edit.html" class="b-btn b-btn--blue">
                    Изображения
                </a>
            </div>
            <div class="user-unit__reduction-btn">
                <a href="addNewAd.html" class="b-btn b-btn--blue">
                    комментарии
                </a>
            </div>
            <br />
            <div>
                <a href="addNewAd.html" class="b-btn b-btn--red">
                    Удалить 
                </a>
            </div>


            <!--<div class="alert alert-warning alert-dismissible" role="alert">
                            <strong>Внимание!</strong>
                            Объявление будет перемещено в архив.
                            При желании Вы можете восстановить
                            его за 45 ед. из личного кабинета.
                        </div>-->
            <mark class="ctrLinks--unit-comment__desc">
                <b>Внимание!</b> Объявление будет перемещено в архив. При желании Вы можете восстановить его за 45 ед. из личного
                кабинета.
            </mark>
        </div>
    </div>
</div>