<!--breadScrumbs-->

<header class="container">
    <div class="row">
        <div class="col-md-12 ">

            <div class="breadScrumbs">
                <ul class="breadScrumbs__ul">
                    <li class="breadScrumbs__item">
                        <a class="breadScrumbs__link" href="/">Главная</a>
                    </li>
                    <li class="breadScrumbs__item">
                        <a class="breadScrumbs__link" href="/">Наземная техника</a>
                    </li>
                    <li class="breadScrumbs__item">
                        <a class="breadScrumbs__link" href="/">Мотоциклы</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</header>



<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-7 ">
            <!--productItemHeader-->
            <header class="">
                <div class="row productItemHeader">
                    <div class="col-md-6">
                        <h1 class="productItemHeader__title">продажа мотоциклов</h1>
                    </div>
                    <div class="col-md-6 productItemHeader__itemCount">
                        <i class="fa fa-search"></i>
                        Найдено 123 560 объявлений
                    </div>
                </div>
            </header>
            <!--productItemSorter-->
            <div class="">
                <div class="row productItemSorter">
                    <div class="col-md-6">
                        <div class="ctrSelect">
                            <footer class="ctrSelect__footer">
                                <select class="ctrSelect__default--forComment valid" data-val="true" data-val-required="The PriceSorter field is required."
                                    id="priceSorter" name="priceSorter" aria-invalid="false">
                                    <option value="1">Cначала дорогой</option>
                                    <option value="2">Cначала дешевый</option>
                                    <option selected="selected" value="0">Cначала свежий</option>
                                    <option value="3">Сначала старый</option>
                                </select>
                            </footer>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button id="sortToSm" class="b-btn b-btn--blue productItemSorter__btn" type="">
                            <i class="fa fa-list"></i>
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button id="sortToLg" class="b-btn b-btn--blue productItemSorter__btn" type="">
                            <i class="fa fa-th-list"></i>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <a class="b-btn b-btn--blue productItemSorter__btn">
                            <i class="fa fa-plus"></i>
                            Продать
                        </a>
                    </div>
                </div>
            </div>

            <!--pagination-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="pagination-container">
                        <ul class="pagination">
                            <li class="active">
                                <a>1</a>
                            </li>
                            <li>
                                <a href="/">2</a>
                            </li>
                            <li>
                                <a href="/">3</a>
                            </li>
                            <li>
                                <a href="/">4</a>
                            </li>
                            <li>
                                <a href="/">5</a>
                            </li>
                            <li>
                                <a href="/">6</a>
                            </li>
                            <li>
                                <a href="/">7</a>
                            </li>
                            <li>
                                <a href="/">8</a>
                            </li>
                            <li>
                                <a href="/">9</a>
                            </li>
                            <li>
                                <a href="/">10</a>
                            </li>
                            <li class="disabled PagedList-ellipses">
                                <a>…</a>
                            </li>
                            <li class="PagedList-skipToNext">
                                <a href="/Room?page=2&amp;Sorter=OnModiration" rel="next">»</a>
                            </li>
                            <li class="PagedList-skipToLast">
                                <a href="/Room?page=13&amp;Sorter=OnModiration">»»</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <!--productItem-->
            <article class="productItem--sm _red-n ">
                <div class="row">
                    <div class="col-md-3 col-sm-6 productItem__img ">
                        <a href="CardPage.html">
                            <img class="img-responsive" style="width:100%;" src="../Arrba/imgs/5-200x150.jpg" alt="">
                        </a>
                        <div class="productItem__img-count">1</div>
                    </div>
                    <div class="col-md-9 col-sm-6 productItem--sm__container ">
                        <header class="productItem__header">

                            <div class="productItem__leftBlock">
                                <a href="CardPage.html" class="productItem__title">XL 883 low '2013</a>
                                <span class="productItem__price">1 290 000 ₽</span>
                                <div class="productItem__hot">
                                    Срочно, торг
                                    <div class="productItem__arrowDown hidden-xs hidden-sm"></div>
                                </div>
                            </div>

                            <div class="productItem__rightBlock">
                                <i class="fa fa-star"></i>&nbsp;
                                <i class="fa fa-envelope"></i>&nbsp;
                                <span>13.12.2016</span>
                            </div>

                        </header>
                        <div class="productItem--sm__emergency">аварийная</div>
                        <div class="productItem--sm__text">
                            зеленый, зеленый, бензин, Объем двигателя (л), Объем двигателя (л), литые диски гистрированных пользователей. Выключенные
                            комментарии не позволяют...
                        </div>
                        <footer class="productItem__footer">
                            <ul class="productItem__footer-itemUl">
                                <li class="productItem__footer-item">
                                    <i class="fa fa-map-marker"></i>&nbsp;г. Санкт-Петербург</li>
                                <li class="productItem__footer-item">
                                    <i class="fa fa-comment"></i>&nbsp;11 Комментариев</li>
                                <li class="productItem__footer-item">
                                    <i class="fa fa-eye"></i>&nbsp;243 Просмотра</li>
                            </ul>
                        </footer>
                    </div>
                </div>
            </article>

            <!--productItem-->
            <article class="productItem--sm ">
                <div class="row">
                    <div class="col-md-3 col-sm-6 productItem__img">
                        <a href="CardPage.html">
                            <img class="img-responsive" style="width:100%;" src="../Arrba/imgs/6-200x150.jpg" alt="">
                        </a>
                        <div class="productItem__img-count">3</div>
                    </div>
                    <div class="col-md-9 col-sm-6 productItem--sm__container">
                        <header class="productItem__header">

                            <div class="productItem__leftBlock">
                                <a href="CardPage.html" class="productItem__title">XL 883 low '2013</a>
                                <span class="productItem__price">1 290 000 ₽</span>
                                <div class="productItem__hot">
                                    Срочно, торг
                                    <div class="productItem__arrowDown hidden-xs hidden-sm"></div>
                                </div>
                            </div>

                            <div class="productItem__rightBlock">
                                <i class="fa fa-star"></i>&nbsp;
                                <i class="fa fa-envelope"></i>&nbsp;
                                <span>13.12.2016</span>
                            </div>

                        </header>
                        <div class="productItem--sm__text">
                            зеленый, зеленый, бензин, Объем двигателя (л), Объем двигателя (л), литые диски гистрированных пользователей. Выключенные
                            комментарии не позволяют общаться...
                        </div>
                        <footer class="productItem__footer">
                            <ul class="productItem__footer-itemUl">
                                <li class="productItem__footer-item">
                                    <i class="fa fa-map-marker"></i>&nbsp;г. Санкт-Петербург</li>
                                <li class="productItem__footer-item">
                                    <i class="fa fa-comment"></i>&nbsp;11 Комментариев</li>
                                <li class="productItem__footer-item">
                                    <i class="fa fa-eye"></i>&nbsp;243 Просмотра</li>
                            </ul>
                        </footer>
                    </div>
                </div>
            </article>

            <!--productItem-->
            <article class="productItem--sm ">
                <div class="row">
                    <div class="col-md-3 col-sm-6 productItem__img  productItem__img-link">
                        <a href="CardPage.html">
                            <img class="img-responsive" style="width:100%;" src="../Arrba/imgs/7-200x150.jpg" alt="">
                            <div class="productItem__img-count">10</div>
                        </a>

                    </div>
                    <div class="col-md-9 col-sm-6 productItem--sm__container ">
                        <header class="productItem__header">

                            <div class="productItem__leftBlock">
                                <a href="CardPage.html" class="productItem__title">XL 883 low '2013</a>
                                <span class="productItem__for">за</span>
                                <span class="productItem__price">1 290 000 ₽</span>
                            </div>

                            <div class="productItem__rightBlock">
                                <i class="fa fa-star"></i>&nbsp;
                                <i class="fa fa-envelope"></i>&nbsp;
                                <span>13.12.2016</span>
                            </div>

                        </header>
                        <div class="productItem--sm__text">
                            зеленый, зеленый, бензин, Объем двигателя (л), Объем двигателя (л), литые диски гистрированных пользователей. Выключенные
                            комментарии не позволяют общаться...
                        </div>
                        <footer class="productItem__footer">
                            <ul class="productItem__footer-itemUl">
                                <li class="productItem__footer-item">
                                    <i class="fa fa-map-marker"></i>&nbsp;г. Санкт-Петербург</li>
                                <li class="productItem__footer-item">
                                    <i class="fa fa-comment"></i>&nbsp;11 Комментариев</li>
                                <li class="productItem__footer-item">
                                    <i class="fa fa-eye"></i>&nbsp;243 Просмотра</li>
                            </ul>
                        </footer>
                    </div>
                </div>
            </article>

            <!--productItem-->
            <article class="productItem--sm yellow ">
                <div class="row">
                    <div class="col-md-3 col-sm-6 productItem__img ">
                        <a href="CardPage.html">
                            <img class="img-responsive" style="width:100%;" src="../Arrba/imgs/10-200x150.jpg" alt="">
                        </a>
                        <div class="productItem__img-count">3</div>
                    </div>
                    <div class="col-md-9 col-sm-6 productItem--sm__container ">
                        <header class="productItem__header">

                            <div class="productItem__leftBlock">
                                <a href="CardPage.html" class="productItem__title">XL 883 low '2013</a>
                                <span class="productItem__price">1 290 000 ₽</span>
                                <div class="productItem__hot">
                                    Срочно, торг
                                    <div class="productItem__arrowDown hidden-xs hidden-sm"></div>
                                </div>
                            </div>

                            <div class="productItem__rightBlock">
                                <i class="fa fa-star"></i>&nbsp;
                                <i class="fa fa-envelope"></i>&nbsp;
                                <span>13.12.2016</span>
                            </div>

                        </header>
                        <div class="productItem--sm__text">
                            зеленый, зеленый, бензин, Объем двигателя (л), Объем двигателя (л), литые диски гистрированных пользователей. Выключенные
                            комментарии не позволяют общаться...
                        </div>
                        <footer class="productItem__footer">
                            <ul class="productItem__footer-itemUl">
                                <li class="productItem__footer-item">
                                    <i class="fa fa-map-marker"></i>&nbsp;г. Санкт-Петербург</li>
                                <li class="productItem__footer-item">
                                    <i class="fa fa-comment"></i>&nbsp;11 Комментариев</li>
                                <li class="productItem__footer-item">
                                    <i class="fa fa-eye"></i>&nbsp;243 Просмотра</li>
                            </ul>
                        </footer>
                    </div>
                </div>
            </article>

            <!--productItem-->
            <article class="productItem--sm blue ">
                <div class="row">
                    <div class="col-md-3 col-sm-6 productItem__img ">
                        <a href="CardPage.html">
                            <img class="img-responsive" style="width:100%;" src="../Arrba/imgs/11-200x150.jpg" alt="">
                        </a>
                        <div class="productItem__img-count">10</div>
                    </div>
                    <div class="col-md-9 col-sm-6 productItem--sm__container ">
                        <header class="productItem__header">

                            <div class="productItem__leftBlock">
                                <a href="CardPage.html" class="productItem__title">XL 883 low '2013</a>
                                <span class="productItem__price">1 290 000 ₽</span>
                            </div>

                            <div class="productItem__rightBlock">
                                <i class="fa fa-star"></i>&nbsp;
                                <i class="fa fa-envelope"></i>&nbsp;
                                <span>13.12.2016</span>
                            </div>

                        </header>
                        <div class="productItem--sm__text">
                            зеленый, зеленый, бензин, Объем двигателя (л), Объем двигателя (л), литые диски гистрированных пользователей. Выключенные
                            комментарии не позволяют общаться...
                        </div>
                        <footer class="productItem__footer">
                            <ul class="productItem__footer-itemUl">
                                <li class="productItem__footer-item">
                                    <i class="fa fa-map-marker"></i>&nbsp;г. Санкт-Петербург</li>
                                <li class="productItem__footer-item">
                                    <i class="fa fa-comment"></i>&nbsp;11 Комментариев</li>
                                <li class="productItem__footer-item">
                                    <i class="fa fa-eye"></i>&nbsp;243 Просмотра</li>
                            </ul>
                        </footer>
                    </div>
                </div>
            </article>

            <!--productItem-->
            <article class="productItem--sm green ">
                <div class="row">
                    <div class="col-md-3 col-sm-6 productItem__img ">
                        <a href="CardPage.html">
                            <img class="img-responsive" style="width:100%;" src="../Arrba/imgs/12-200x150.jpg" alt="">
                        </a>
                        <div class="productItem__img-count">18</div>
                    </div>
                    <div class="col-md-9 col-sm-6 productItem--sm__container ">
                        <header class="productItem__header">

                            <div class="productItem__leftBlock">
                                <a href="CardPage.html" class="productItem__title">XL 883 low '2013</a>
                                <span class="productItem__price">1 290 000 ₽</span>
                                <div class="productItem__hot">
                                    Срочно, торг
                                    <div class="productItem__arrowDown  hidden-xs hidden-sm"></div>
                                </div>
                            </div>

                            <div class="productItem__rightBlock">
                                <i class="fa fa-star"></i>&nbsp;
                                <i class="fa fa-envelope"></i>&nbsp;
                                <span>13.12.2016</span>
                            </div>

                        </header>
                        <div class="productItem--sm__emergency">аварийная</div>
                        <div class="productItem--sm__text">
                            Porro praesentium sit accusantium voluptas, ab impedit repellendus, nisi necessitatibus.
                        </div>
                        <footer class="productItem__footer">
                            <ul class="productItem__footer-itemUl">
                                <li class="productItem__footer-item">
                                    <i class="fa fa-map-marker"></i>&nbsp;г. Санкт-Петербург</li>
                                <li class="productItem__footer-item">
                                    <i class="fa fa-comment"></i>&nbsp;11 Комментариев</li>
                                <li class="productItem__footer-item">
                                    <i class="fa fa-eye"></i>&nbsp;243 Просмотра</li>
                            </ul>
                        </footer>
                    </div>
                </div>
            </article>

            <!--productItem-->
            <article class="productItem--sm red ">
                <div class="row">
                    <div class="col-md-3 col-sm-6 productItem__img">
                        <a href="CardPage.html">
                            <img class="img-responsive" style="width:100%;" src="../Arrba/imgs/13-200x150.jpg" alt="">
                        </a>
                        <div class="productItem__img-count">4</div>
                    </div>
                    <div class="col-md-9 col-sm-6 productItem--sm__container ">
                        <header class="productItem__header">

                            <div class="productItem__leftBlock">
                                <a href="CardPage.html" class="productItem__title">XL 883 low '2013</a>
                                <span class="productItem__price">1 290 000 ₽</span>
                            </div>

                            <div class="productItem__rightBlock">
                                <i class="fa fa-star"></i>&nbsp;
                                <i class="fa fa-envelope"></i>&nbsp;
                                <span>13.12.2016</span>
                            </div>

                        </header>
                        <div class="productItem--sm__text">
                            зеленый, зеленый, бензин, Объем двигателя (л), Объем двигателя (л), литые диски гистрированных пользователей. Выключенные
                            комментарии не позволяют общаться...
                        </div>
                        <footer class="productItem__footer">
                            <ul class="productItem__footer-itemUl">
                                <li class="productItem__footer-item">
                                    <i class="fa fa-map-marker"></i>&nbsp;г. Санкт-Петербург</li>
                                <li class="productItem__footer-item">
                                    <i class="fa fa-comment"></i>&nbsp;11 Комментариев</li>
                                <li class="productItem__footer-item">
                                    <i class="fa fa-eye"></i>&nbsp;243 Просмотра</li>
                            </ul>
                        </footer>
                    </div>
                </div>
            </article>
            <hr>

            <!--pagination-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="pagination-container">
                        <ul class="pagination">
                            <li class="active">
                                <a>1</a>
                            </li>
                            <li>
                                <a href="/">2</a>
                            </li>
                            <li>
                                <a href="/">3</a>
                            </li>
                            <li>
                                <a href="/">4</a>
                            </li>
                            <li>
                                <a href="/">5</a>
                            </li>
                            <li>
                                <a href="/">6</a>
                            </li>
                            <li>
                                <a href="/">7</a>
                            </li>
                            <li>
                                <a href="/">8</a>
                            </li>
                            <li>
                                <a href="/">9</a>
                            </li>
                            <li>
                                <a href="/">10</a>
                            </li>
                            <li class="disabled PagedList-ellipses">
                                <a>…</a>
                            </li>
                            <li class="PagedList-skipToNext">
                                <a href="/Room?page=2&amp;Sorter=OnModiration" rel="next">»</a>
                            </li>
                            <li class="PagedList-skipToLast">
                                <a href="/Room?page=13&amp;Sorter=OnModiration">»»</a>
                            </li>
                        </ul>
                    </div>
                    <!--<div class="pagination">
                                <a href="/" class="pagination__leftChapter"><i class="fa fa-angle-double-left"></i></a>
                                <a href="/"  class="pagination__leftPage"><i class="fa fa-angle-left"></i></a>
                                
                                <a href="/" class="pagination__item">1</a>
                                <a href="/" class="pagination__item">2</a>
                                <a href="/" class="pagination__item active">3</a>
                                <a href="/" class="pagination__item">4</a>
                                <a href="/" class="pagination__item">5</a>
                            
                                <a href="/"  class="pagination__rightPage "><i class="fa fa-angle-right"></i></a>
                                <a href="/"  class="pagination__rightChapter"><i class="fa fa-angle-double-right"></i></a> 
                            </div>-->
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-5 ">
            <!--aside-->
            <aside class="aside">
                <aside class="aside">
                    <div class="aside__item">
                        <div class="news-block">
                            <header class="news-block__header">
                                <span class="news-block__title">
                                    <h2>Новости</h2>
                                </span>
                                <a href="#" class="news-block__all-news">
                                    <i class="fa fa-reorder"></i> Все новости</a>
                            </header>
                            <hr />
                            <section class="news-block__body news-block__news-item">
                                <article class="news-item">
                                    <div class="row">
                                        <div class="col-lg-5 col-lg-5 col-md-5 col-sm-6 hidden-md hidden-sm">
                                            <a target="blank" href="http://news.katrus.kz/2016/03/22/moscow_race/">
                                                <img class="news-item__img img-responsive" src="../Arrba/Content/Imgs/news/news_img1.jpg" alt=""> </a>
                                        </div>
                                        <div class="col-lg-7 col-md-12 ccol-md-12 col-sm-12 news-item__bodyol-sm-12 news-item__body">
                                            <a target="blank" href="http://news.katrus.kz/2016/03/22/moscow_race/" class="news-item__text">
                                                В этом тексте будет всегда сорок символов... </a>
                                            <div class="news-item__date">
                                                <small>25 апрель 2016</small>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="news-item">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-6 hidden-md hidden-sm">
                                            <a target="blank" href="http://news.katrus.kz/2016/03/22/speed_boat_race_monako/">
                                                <img class="news-item__img img-responsive" src="../Arrba/Content/Imgs/news/news_img2.jpg" alt=""> </a>
                                        </div>
                                        <div class="col-lg-7 col-md-12 ccol-md-12 col-sm-12 news-item__bodyol-sm-12 news-item__body">
                                            <a target="blank" href="http://news.katrus.kz/2016/03/22/speed_boat_race_monako/" class="news-item__text"> В этом тексте будет всегда сорок символов... </a>
                                            <div class="news-item__date">
                                                <small>25 апрель 2016</small>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="news-item">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-6 hidden-md hidden-sm">
                                            <a target="blank" href="http://news.katrus.kz/2016/03/22/winter_end_its_time_to_rest/">
                                                <img class="news-item__img img-responsive" src="../Arrba/Content/Imgs/news/news_img3.jpg" alt=""> </a>
                                        </div>
                                        <div class="col-lg-7 col-md-12 ccol-md-12 col-sm-12 news-item__bodyol-sm-12 news-item__body">
                                            <a target="blank" href="http://news.katrus.kz/2016/03/22/winter_end_its_time_to_rest/" class="news-item__text"> В этом тексте будет всегда сорок символов... </a>
                                            <div class="news-item__date">
                                                <small>25 апрель 2016</small>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="news-item">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-6 hidden-md hidden-sm">
                                            <a target="blank" href="http://news.katrus.kz/2016/03/22/adventure_on_altay/">
                                                <img class="news-item__img img-responsive" src="../Arrba/Content/Imgs/news/news_img4.jpg" alt=""> </a>
                                        </div>
                                        <div class="col-lg-7 col-md-12 ccol-md-12 col-sm-12 news-item__bodyol-sm-12 news-item__body">
                                            <a target="blank" href="http://news.katrus.kz/2016/03/22/adventure_on_altay/" class="news-item__text">
                                                В этом тексте будет всегда сорок символов... </a>
                                            <div class="news-item__date">
                                                <small>25 апрель 2016</small>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="news-item">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-6 hidden-md hidden-sm">
                                            <a href="http://news.katrus.kz/2016/03/22/offroad_moto/">
                                                <img class="news-item__img img-responsive" src="../Arrba/Content/Imgs/news/news_img5.jpg" alt=""> </a>
                                        </div>
                                        <div class="col-lg-7 col-md-12 ccol-md-12 col-sm-12 news-item__bodyol-sm-12 news-item__body">
                                            <a href="http://news.katrus.kz/2016/03/22/offroad_moto/" class="news-item__text">
                                                В этом тексте будет всегда сорок символов... </a>
                                            <div class="news-item__date">
                                                <small>25 апрель 2016</small>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </section>
                        </div>
                        <hr />
                        <img class="img-responsive hidden-md hidden-sm" src="../Arrba/imgs/banner2.jpg" alt=""> </div>
                </aside>
            </aside>

        </div>
    </div>
</div>