.wrapper-1200{
    max-width: 1220px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    &--relative{
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
}

.wrapperBottom{
    margin-bottom: 35px;
}