.otherProduct{
   padding-top: 25px;
   
   &__title{
    color:@color-main;
    font-size: 16px;
    line-height: 2;
    text-transform: uppercase;
   } 
   &__toGoList{
      float:right;
      line-height: 2;
      a{
           color:@color-gray;
       }
   }
   &__icon{
       color:@color-blue;
   }
   
   &__footer{
        margin-top: 15px;
        padding-bottom: 15px;
        float: left;
        //.transition(0.3s);
   }
   &__linkItem{
        //float: left;
        display: inline-block;
        padding: 5px 10px 5px 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: #c1cfd9;
        margin-right: 10px;
        border-radius: 5px;
        color: @color-main;
        transition: background-color .3s ease-in-out, color .2s ease-in;
        &:hover, &.active{
            background-color: @color-blue;
            color:white; 
            text-decoration: none;
        }
   }
   &__linkItem-icon{
       color:white;
       padding-left: 5px;
   }
   
}