.breadScrumbs{
    padding-top:25px;
    padding-bottom: 25px;
    &__ul{
        margin: 0;
        padding:0;
    }
    &__item{
        list-style: none;
        display: inline-block;

        &:last-child a{
            color:initial;
        }
        &:not(:last-child):after{
            .ifRtl({content: "\\";}, {content: "/";});
            padding-left: 5px;
            padding-right: 5px;          
        }    
    } 
    &__link{
        color:#999;
        &:hover{
            color:#999;
        }
    }
     
}
