.ctrSearchtext{
    padding: 4.5% 19px 19px 19px;
    transition: 0.5s;
    .device-md({padding: 3% 19px 19px 19px;});
    .device-sm({padding: 2.5% 19px 19px 19px;});
    &__ctr{
        width: 100%;
        border: none;
        height: 45px;
        padding-left: 10px;
    }
}
